Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

chore(dragonfly): authentication (#1726)
  kubernetes/core/database/dragonfly/cluster/cluster.yaml
  kubernetes/core/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

chore(dragonfly): authentication (#1726)
  kubernetes/core/database/dragonfly/cluster/cluster.yaml
  kubernetes/core/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

chore: formatting fixes
  .mise.toml
  .vscode/extensions.json
Labels: none

chore: formatting fixes
  .mise.toml
  .vscode/extensions.json
Labels: none

feat: deploy ksgate
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/kustomization.yaml
  kubernetes/core/system/ksgate/app/ocirepository.yaml
  kubernetes/core/system/ksgate/ks.yaml
  kubernetes/core/system/kustomization.yaml
Labels: cluster, core, apps

restrict conditionResources
  kubernetes/core/system/ksgate/app/helmrelease.yaml
Labels: cluster, core

feat: ksgate (#1754)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/kustomization.yaml
  kubernetes/core/system/ksgate/app/ocirepository.yaml
  kubernetes/core/system/ksgate/ks.yaml
  kubernetes/core/system/kustomization.yaml
Labels: cluster, core, apps

feat: ksgate (#1754)
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/kustomization.yaml
  kubernetes/core/system/ksgate/app/ocirepository.yaml
  kubernetes/core/system/ksgate/ks.yaml
  kubernetes/core/system/kustomization.yaml
Labels: cluster, core, apps

chore(tasks): prereqs for rcon
  .taskfiles/rcon/Taskfile.yaml
Labels: none

chore(tasks): prereqs for rcon
  .taskfiles/rcon/Taskfile.yaml
Labels: none

fix(maddy): config change
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
Labels: cluster, core

fix(maddy): config change
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
Labels: cluster, core

chore(authelia): config update
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

chore(authelia): config update
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(glauth): givenname for cl
  kubernetes/core/security/glauth/app/config/users.toml
Labels: cluster, core

fix(glauth): givenname for cl
  kubernetes/core/security/glauth/app/config/users.toml
Labels: cluster, core

fix(authelia): correct groupname
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/glauth/app/config/users.toml
Labels: cluster, core

fix(authelia): correct groupname
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/glauth/app/config/users.toml
Labels: cluster, core

fix: add homepage annotations to route
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix: add homepage annotations to route
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(karakeep): homepage annotation
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

fix(karakeep): homepage annotation
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

chore(authelia): update config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/glauth/app/config/users.toml
Labels: cluster, core

chore(authelia): update config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/glauth/app/config/users.toml
Labels: cluster, core

fix(karakeep): allow registration
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

fix(karakeep): allow registration
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

chore(authelia): remind myself to make matching users
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
Labels: cluster, apps

chore(authelia): remind myself to make matching users
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
Labels: cluster, apps

chore: individual dragonfly cluster per app
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
  kubernetes/core/database/dragonfly/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/flux/components/dragonfly/cluster.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, core, flux

chore: individual dragonfly cluster per app (#1756)
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
  kubernetes/core/database/dragonfly/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/flux/components/dragonfly/cluster.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, core, flux

chore: individual dragonfly cluster per app (#1756)
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
  kubernetes/core/database/dragonfly/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/flux/components/dragonfly/cluster.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, core, flux

chore: individual dragonfly cluster per app (#1756)
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
  kubernetes/core/database/dragonfly/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/flux/components/dragonfly/cluster.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, core, flux

fix(homepage): gateway rbac
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
Labels: cluster, apps

fix(homepage): gateway rbac
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
Labels: cluster, apps

fix: correct port for homepage annotation
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix: correct port for homepage annotation
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(jellyseerr): correct widget url
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: cluster, apps

fix(jellyseerr): correct widget url
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: cluster, apps

chore: update homepage config
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core, apps

chore: update homepage config
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core, apps

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
