Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

update gitignore
  .gitignore
Labels: none

update bootstrap
  kubernetes/.bootstrap/bootstrap.yaml.j2
  kubernetes/.bootstrap/cilium-postsync.sh
  kubernetes/.bootstrap/helmfile.yaml
  kubernetes/bootstrap/bootstrap.yaml.j2
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/helmfile.d/001-apps.yaml
  kubernetes/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/bootstrap/mod.just
Labels: cluster

fix downloading talos image
  kubernetes/talos/.gitignore
  kubernetes/talos/mod.just
  kubernetes/talos/schematic.yaml.j2
Labels: cluster

add some more tasks
  kubernetes/talos/mod.just
Labels: cluster

remove some taskfiles
  .justfile
  Taskfile.yaml
  nas/mod.just
Labels: nas

clean up taskfiles
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/talos/scripts/doppler-talos.py
Labels: none

create monitors in app namespaces
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
  kubernetes/core/system/reloader/app/helmrelease.yaml
Labels: cluster, core, apps

remove more taskfiles
  .taskfiles/bootstrap/Taskfile.yaml
Labels: none

scripts dir
  scripts/.gitkeep
Labels: none

move scripts
  scripts/.gitkeep
  scripts/create-oidc-secrets.sh
Labels: none

update paths
  .justfile
  .mise.toml
Labels: none

more taskfile removals
  .mise.toml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .vscode/extensions.json
  Taskfile.yaml
  cluster/kubernetes/mod.just
  cluster/talos/mod.just
Labels: none

update paths
  cluster/bootstrap/helmfile.d/templates/values.yaml.gotmpl
Labels: none

update path
  cluster/bootstrap/helmfile.d/001-apps.yaml
Labels: none

missing /
  cluster/kubernetes/apps/ci/kustomization.yaml
  cluster/kubernetes/apps/dev/kustomization.yaml
  cluster/kubernetes/apps/downloads/kustomization.yaml
  cluster/kubernetes/apps/games/kustomization.yaml
  cluster/kubernetes/apps/home/kustomization.yaml
  cluster/kubernetes/apps/jobs/kustomization.yaml
  cluster/kubernetes/apps/media/kustomization.yaml
  cluster/kubernetes/apps/selfhosted/kustomization.yaml
  cluster/kubernetes/apps/test/kustomization.yaml
  cluster/kubernetes/apps/web/kustomization.yaml
  cluster/kubernetes/core/cert-manager/kustomization.yaml
  cluster/kubernetes/core/crossplane-system/kustomization.yaml
  cluster/kubernetes/core/database/kustomization.yaml
  cluster/kubernetes/core/network/kustomization.yaml
  cluster/kubernetes/core/observability/kustomization.yaml
  cluster/kubernetes/core/security/kustomization.yaml
  cluster/kubernetes/core/storage/kustomization.yaml
  cluster/kubernetes/core/system/kustomization.yaml
Labels: none

deprecated ubi backend removed
  .mise.toml
Labels: none

even more taskfile removals
  .justfile
  .taskfiles/repo/Taskfile.yaml
  docs/assets/.homelab.txt
Labels: docs

intel dra/cdi
  cluster/kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  cluster/kubernetes/components/gpu/kustomization.yaml
  cluster/kubernetes/components/gpu/resourceclaimtemplate.yaml
  cluster/kubernetes/core/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  cluster/kubernetes/core/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  cluster/kubernetes/core/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  cluster/kubernetes/core/kube-system/intel-gpu-resource-driver/ks.yaml
  cluster/kubernetes/mod.just
  cluster/talos/machineconfig.yaml.j2
  cluster/talos/nodes/control01.yaml.j2
  vps/.gitkeep
Labels: none

fix local-hostpath location
  cluster/kubernetes/core/storage/dcsi-localpath/app/helmrelease.yaml
Labels: none

fix component paths
  .mise.toml
  cluster/kubernetes/apps/downloads/bazarr/ks.yaml
  cluster/kubernetes/apps/downloads/prowlarr/ks.yaml
  cluster/kubernetes/apps/downloads/radarr/ks.yaml
  cluster/kubernetes/apps/downloads/recyclarr/ks.yaml
  cluster/kubernetes/apps/downloads/sabnzbd/ks.yaml
  cluster/kubernetes/apps/downloads/slskd/ks.yaml
  cluster/kubernetes/apps/downloads/sonarr/ks.yaml
  cluster/kubernetes/apps/games/minecraft/ks.yaml
  cluster/kubernetes/apps/games/romm/ks.yaml
  cluster/kubernetes/apps/games/vintagestory/ks.yaml
  cluster/kubernetes/apps/home/home-assistant/ks.yaml
  cluster/kubernetes/apps/media/jellyfin/ks.yaml
  cluster/kubernetes/apps/media/kustomization.yaml
  cluster/kubernetes/apps/media/seerr/ks.yaml
  cluster/kubernetes/apps/media/wrtag/ks.yaml
  cluster/kubernetes/apps/selfhosted/actual/ks.yaml
  cluster/kubernetes/apps/selfhosted/karakeep/ks.yaml
  cluster/kubernetes/apps/selfhosted/mealie/ks.yaml
  cluster/kubernetes/apps/test/kustomization.yaml
  cluster/kubernetes/core/observability/grafana/ks.yaml
  cluster/kubernetes/core/security/authelia/ks.yaml
  cluster/kubernetes/core/system-upgrade/kustomization.yaml
  cluster/kubernetes/core/system-upgrade/namespace.yaml
  cluster/kubernetes/core/system/keda/ks.yaml
  cluster/kubernetes/mod.just
Labels: none

fix up doppler config
  .justfile
  .mise.toml
  doppler.yaml
Labels: none

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
