Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

chore(jellyfin): bump exporter limit/request
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

chore(jellyfin): bump exporter limit/request
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(mise): correct kubecolor version
  .mise.toml
Labels: none

fix(mise): correct kubecolor version
  .mise.toml
Labels: none

chore(grafana): dashboard cleanup
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

chore(grafana): dashboard cleanup
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

chore(keda): enable prom metrics
  kubernetes/core/monitoring/keda/app/helmrelease.yaml
Labels: cluster, core

chore(keda): enable prom metrics
  kubernetes/core/monitoring/keda/app/helmrelease.yaml
Labels: cluster, core

chore(grafana): more dashboard cleanup
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

chore(grafana): more dashboard cleanup
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

chore(mc): update bluemap config
  kubernetes/apps/games/minecraft/app/config/bluemap/maps/end.conf
  kubernetes/apps/games/minecraft/app/config/bluemap/maps/nether.conf
  kubernetes/apps/games/minecraft/app/config/bluemap/maps/overworld.conf
Labels: cluster, apps

chore(mc): update bluemap config
  kubernetes/apps/games/minecraft/app/config/bluemap/maps/end.conf
  kubernetes/apps/games/minecraft/app/config/bluemap/maps/nether.conf
  kubernetes/apps/games/minecraft/app/config/bluemap/maps/overworld.conf
Labels: cluster, apps

chore(grafana): remove unused dashboards
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

chore(grafana): remove unused dashboards
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

deploy crossplane v2
  kubernetes/core/crossplane-system/crossplane/app/helmrelease.yaml
  kubernetes/core/crossplane-system/crossplane/app/kustomization.yaml
  kubernetes/core/crossplane-system/crossplane/app/ocirepository.yaml
  kubernetes/core/crossplane-system/crossplane/ks.yaml
  kubernetes/core/crossplane-system/kustomization.yaml
Labels: cluster, core

sloppy paste
  kubernetes/core/crossplane-system/crossplane/ks.yaml
Labels: cluster, core

feat: crossplane (#1551)
  kubernetes/core/crossplane-system/crossplane/app/helmrelease.yaml
  kubernetes/core/crossplane-system/crossplane/app/kustomization.yaml
  kubernetes/core/crossplane-system/crossplane/app/ocirepository.yaml
  kubernetes/core/crossplane-system/crossplane/ks.yaml
  kubernetes/core/crossplane-system/kustomization.yaml
Labels: cluster, core

feat: crossplane (#1551)
  kubernetes/core/crossplane-system/crossplane/app/helmrelease.yaml
  kubernetes/core/crossplane-system/crossplane/app/kustomization.yaml
  kubernetes/core/crossplane-system/crossplane/app/ocirepository.yaml
  kubernetes/core/crossplane-system/crossplane/ks.yaml
  kubernetes/core/crossplane-system/kustomization.yaml
Labels: cluster, core

fix(crossplane): ns
  kubernetes/core/crossplane-system/crossplane/ks.yaml
Labels: cluster, core

fix(crossplane): ns
  kubernetes/core/crossplane-system/crossplane/ks.yaml
Labels: cluster, core

fix(flux): receiver ks names
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/receiver.yaml
Labels: cluster, core

fix(flux): receiver ks names
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/receiver.yaml
Labels: cluster, core

fix(radarr): increase memory limit
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: cluster, apps

fix(radarr): increase memory limit
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: cluster, apps

ci: rerun failed workflows
  .github/workflows/scheduled-rerun-failed.yaml
Labels: ci

ci: rerun failed workflows
  .github/workflows/scheduled-rerun-failed.yaml
Labels: ci

ci: re-run failed workflows daily
  .github/workflows/scheduled-rerun-failed.yaml
Labels: ci

ci: re-run failed workflows daily
  .github/workflows/scheduled-rerun-failed.yaml
Labels: ci

slskd
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/slskd/app/config/slskd.yaml
  kubernetes/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/apps/downloads/slskd/ks.yaml
Labels: cluster, apps

yml not yaml
  kubernetes/apps/downloads/slskd/app/config/slskd.yml
Labels: cluster, apps

feat: slskd (#1584)
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/apps/downloads/slskd/ks.yaml
Labels: cluster, apps

feat: slskd (#1584)
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/apps/downloads/slskd/ks.yaml
Labels: cluster, apps

chore: update repo config
  .taskfiles/repo/Taskfile.yaml
  .vscode/extensions.json
Labels: none

chore: update repo config
  .taskfiles/repo/Taskfile.yaml
  .vscode/extensions.json
Labels: none

fix(slskd): postBuild substitution
  kubernetes/apps/downloads/slskd/ks.yaml
Labels: cluster, apps

fix(slskd): postBuild substitution
  kubernetes/apps/downloads/slskd/ks.yaml
Labels: cluster, apps

fix(slskd): download dir
  kubernetes/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
Labels: cluster, apps

fix(slskd): download dir
  kubernetes/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
Labels: cluster, apps

fix(slskd): envFrom
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
Labels: cluster, apps

fix(slskd): envFrom
  kubernetes/apps/downloads/slskd/app/helmrelease.yaml
Labels: cluster, apps
