Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/mini, cluster/pi, core, apps, nas, docs

fix(tofu-controller): disable branch planner
  kubernetes/mini/core/flux-system/tofu-controller/app/helmrelease.yaml
Labels: cluster/mini, core

fix(tofu-controller): disable branch planner
  kubernetes/mini/core/flux-system/tofu-controller/app/helmrelease.yaml
Labels: cluster/mini, core

feat(mc): test out smb backup
  kubernetes/mini/apps/games/minecraft/app/kustomization.yaml
  kubernetes/mini/apps/games/minecraft/app/smb.yaml
Labels: cluster/mini, apps

feat(mc): test out smb backup
  kubernetes/mini/apps/games/minecraft/app/kustomization.yaml
  kubernetes/mini/apps/games/minecraft/app/smb.yaml
Labels: cluster/mini, apps

fix(mc): correct storageclass
  kubernetes/mini/apps/games/minecraft/app/smb.yaml
Labels: cluster/mini, apps

fix(mc): correct storageclass
  kubernetes/mini/apps/games/minecraft/app/smb.yaml
Labels: cluster/mini, apps

chore: get rid of devshell
  .envrc
  devshell.toml
  shell.nix
Labels: none

chore: get rid of devshell
  .envrc
  devshell.toml
  shell.nix
Labels: none

fix(mc): remove smb pvc
  kubernetes/mini/apps/games/minecraft/app/kustomization.yaml
  kubernetes/mini/apps/games/minecraft/app/smb.yaml
Labels: cluster/mini, apps

fix(mc): remove smb pvc
  kubernetes/mini/apps/games/minecraft/app/kustomization.yaml
  kubernetes/mini/apps/games/minecraft/app/smb.yaml
Labels: cluster/mini, apps

feat: try generating secrets using a webhook
  kubernetes/mini/core/security/external-secrets/generator/helmrelease.yaml
  kubernetes/mini/core/security/external-secrets/generator/kustomization.yaml
  kubernetes/mini/core/security/external-secrets/generator/scripts/main.py
  kubernetes/mini/core/security/external-secrets/generator/scripts/requirements.txt
  kubernetes/mini/core/security/external-secrets/ks.yaml
  kubernetes/mini/core/security/external-secrets/secretstore/infisical.yaml
  kubernetes/mini/core/security/external-secrets/secretstore/kustomization.yaml
Labels: cluster/mini, core

fix(sonarr): use webhook generator for api_key
  kubernetes/mini/apps/downloads/kustomization.yaml
  kubernetes/mini/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/mini/apps/downloads/webhook.yaml
Labels: cluster/mini, apps

chore: bring back the archive
  kubernetes/mini/.archive/authentik/app/externalsecret.yaml
  kubernetes/mini/.archive/authentik/app/helmrelease.yaml
  kubernetes/mini/.archive/authentik/app/kustomization.yaml
  kubernetes/mini/.archive/authentik/app/networkpolicy.yaml
  kubernetes/mini/.archive/authentik/ks.yaml
Labels: cluster/mini

chore: bring back the archive
  kubernetes/mini/templates/secret-generator/arr/externalsecret.yaml
  kubernetes/mini/templates/secret-generator/arr/kustomization.yaml
  kubernetes/mini/templates/secret-generator/arr/webhook.yaml
Labels: cluster/mini

.github/labeler.yaml:

---
# Clusters
cluster/mini:
  - changed-files:
      - any-glob-to-any-file: kubernetes/mini/**/*
cluster/pi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/pi/**/*

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/apps/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**/*

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
