Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

feat(vs): scale to 1
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

feat(vs): scale to 1
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vs): switch back to original world
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
Labels: cluster, apps

chore(vs): switch back to original world
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
Labels: cluster, apps

chore(vs): remove config for now
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vs): remove config for now
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): update mods
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

fix(vs): update mods
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

fix(vs): mods dir
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  vs.yaml
Labels: cluster, apps

fix(vs): mods dir
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  vs.yaml
Labels: cluster, apps

feat(vs): enable driftdetection
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

feat(vs): enable driftdetection
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vs): mount serverconfig
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vs): mount serverconfig
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

Revert "chore(vs): mount serverconfig"
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

Revert "chore(vs): mount serverconfig"
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): upgrade to new config version
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig-old.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): upgrade to new config version
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig-old.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(silence-operator): no quay
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
Labels: cluster, core

fix(silence-operator): no quay
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
Labels: cluster, core

fix(minecraft): unmount geyser conf
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

fix(minecraft): unmount geyser conf
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

Revert "fix(container): update image ghcr.io/authelia/authelia ( 4.39.13 → 4.39.14 ) (#1887)"
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

Revert "fix(container): update image ghcr.io/authelia/authelia ( 4.39.13 → 4.39.14 ) (#1887)"
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

Revert "feat(container)!: Update image ghcr.io/stirling-tools/stirling-pdf ( 1.5.0 → 2.0.1 ) (#1960)"
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

Revert "feat(container)!: Update image ghcr.io/stirling-tools/stirling-pdf ( 1.5.0 → 2.0.1 ) (#1960)"
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(glauth): anonymous dse
  kubernetes/core/security/glauth/app/config/server.toml
Labels: cluster, core

fix(glauth): anonymous dse
  kubernetes/core/security/glauth/app/config/server.toml
Labels: cluster, core

fix(stirling-pdf): extra emptyDir
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): extra emptyDir
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

chore: no cosign
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, flux

chore: no cosign
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, flux

chore(dragonfly): app-template rbac
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/kustomization.yaml
Labels: cluster, core

chore(dragonfly): app-template rbac
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/kustomization.yaml
Labels: cluster, core

chore(homepage): move rbac to app-template
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

chore(homepage): move rbac to app-template
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

chore: clean up
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
  kubernetes/core/database/dragonfly/operator/rbac.yaml
Labels: cluster, core, apps

chore: clean up
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
  kubernetes/core/database/dragonfly/operator/rbac.yaml
Labels: cluster, core, apps

chore(hk): update refs
  hk.pkl
Labels: none

chore(hk): update refs
  hk.pkl
Labels: none
