Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix(taskfile): templating
  .taskfiles/volsync/Taskfile.yaml
Labels: none

fix(taskfile): templating
  .taskfiles/volsync/Taskfile.yaml
Labels: none

fix(taskfile): templating
  .taskfiles/volsync/Taskfile.yaml
Labels: none

fix(vs): update config
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
Labels: cluster, apps

fix(vs): update config
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
Labels: cluster, apps

fix(vs): service identifier
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): service identifier
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): add /tmp
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): add /tmp
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): use globalMounts to allow initContainer to access config
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): use globalMounts to allow initContainer to access config
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): use default entrypoint
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): use default entrypoint
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): caddy args
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): caddy args
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): uniform ingress name
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): uniform ingress name
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): export webmap on start
  kubernetes/apps/games/vintagestory/app/config/mods/WebCartographerConfig.json
Labels: cluster, apps

fix(vs): export webmap on start
  kubernetes/apps/games/vintagestory/app/config/mods/WebCartographerConfig.json
Labels: cluster, apps

fix(vs): dont export on start
  kubernetes/apps/games/vintagestory/app/config/mods/WebCartographerConfig.json
Labels: cluster, apps

fix(vs): dont export on start
  kubernetes/apps/games/vintagestory/app/config/mods/WebCartographerConfig.json
Labels: cluster, apps

fix(vs): correct webroot for map
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): correct webroot for map
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): export webmap on start
  kubernetes/apps/games/vintagestory/app/config/mods/WebCartographerConfig.json
Labels: cluster, apps

chore(renovate): tidy up groups
  .github/renovate/groups.json5
Labels: ci

chore(renovate): tidy up groups
  .github/renovate/groups.json5
Labels: ci

fix(vs): export webmap on start
  kubernetes/apps/games/vintagestory/app/config/mods/WebCartographerConfig.json
Labels: cluster, apps

fix(jf): lbip"
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(jf): lbip"
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(jf): lb service
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(jf): lb service
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(pihole): web port
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(pihole): web port
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): new env vars
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): new env vars
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

feat(nas)!: archive minio
  nas/.archive/minio/docker-compose.yaml
Labels: nas

feat(nas)!: archive minio
  nas/.archive/minio/docker-compose.yaml
Labels: nas

fix(nas/pihole): update web port env vars
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): update web port env vars
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): update image
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
