Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix(smtp-relay): fix domain
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

chore(maddy): config update
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

chore(maddy): config update
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

fix(authelia): grafana client
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): grafana client
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): update grafana config
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): update grafana config
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): secret not digest
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): secret not digest
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

Revert "fix(authelia): secret not digest"
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

Revert "fix(authelia): secret not digest"
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): client_secret_basic
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): client_secret_basic
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix: component oauth secret
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/flux/components/sso-secret/externalsecret.yaml
  kubernetes/flux/components/sso-secret/kustomization.yaml
Labels: cluster, core, flux

fix: component oauth secret
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/flux/components/sso-secret/externalsecret.yaml
  kubernetes/flux/components/sso-secret/kustomization.yaml
Labels: cluster, core, flux

fix: swapped values
  kubernetes/flux/components/sso-secret/externalsecret.yaml
Labels: cluster, flux

fix: swapped values
  kubernetes/flux/components/sso-secret/externalsecret.yaml
Labels: cluster, flux

fix: uppercase remoteRef
  kubernetes/flux/components/sso-secret/externalsecret.yaml
Labels: cluster, flux

fix: uppercase remoteRef
  kubernetes/flux/components/sso-secret/externalsecret.yaml
Labels: cluster, flux

fix(grafana): envFrom
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/flux/components/sso-secret/externalsecret.yaml
Labels: cluster, core, flux

fix(grafana): envFrom
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/flux/components/sso-secret/externalsecret.yaml
Labels: cluster, core, flux

fix(maddy): new secret name
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
Labels: cluster, core

fix(maddy): new secret name
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
Labels: cluster, core

karakeep
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

oidc task
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/create-oidc-secrets.sh
Labels: none

mealie
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core, apps

feat!: sso (#1721)
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/create-oidc-secrets.sh
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/ks.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

feat!: sso (#1721)
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/create-oidc-secrets.sh
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/ks.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

fix(authelia): mealie secret
  hk.pkl
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

fix(authelia): mealie secret
  hk.pkl
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

fix(authelia): karakeep claims policy
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

fix(authelia): karakeep claims policy
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

feat(actual): sso support
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

feat(actual): sso support
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

feat(jellyfin): sso
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

feat(jellyfin): sso
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

chore(nfd): official oci repo
  kubernetes/core/system/node-feature-discovery/app/ocirepository.yaml
Labels: cluster, core

chore(nfd): official oci repo
  kubernetes/core/system/node-feature-discovery/app/ocirepository.yaml
Labels: cluster, core

add password for dragonfly
  kubernetes/core/database/dragonfly/cluster/cluster.yaml
  kubernetes/core/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/core/database/dragonfly/cluster/kustomization.yaml
Labels: cluster, core

add secret to authelia
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
