Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix(nas/pihole): update image
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): renovate annotation
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): renovate annotation
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix: direnv dir is no more
  .github/linters/yamllint.yaml
Labels: ci

fix: direnv dir is no more
  .github/linters/yamllint.yaml
Labels: ci

Revert "fix(nas/pihole): renovate annotation"
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

Revert "fix(nas/pihole): renovate annotation"
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

ci: group mise PRs together
  .github/renovate/groups.json5
Labels: ci

ci: group mise PRs together
  .github/renovate/groups.json5
Labels: ci

fix(intel-device-plugins): reduce sharedDevNum
  kubernetes/core/system/intel-device-plugins/gpu/helmrelease.yaml
Labels: cluster, core

fix(intel-device-plugins): reduce sharedDevNum
  kubernetes/core/system/intel-device-plugins/gpu/helmrelease.yaml
Labels: cluster, core

fix(nas/smartctl): port
  nas/stacks/smartctl-exporter/docker-compose.yaml
Labels: nas

fix(nas/smartctl): port
  nas/stacks/smartctl-exporter/docker-compose.yaml
Labels: nas

feat(prom): scrapeconfigs for nas
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/nas-node-exporter.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/nas-smartctl-exporter.yaml
Labels: cluster, core

feat(prom): scrapeconfigs for nas
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/nas-node-exporter.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/nas-smartctl-exporter.yaml
Labels: cluster, core

feat: scripts namespace
  kubernetes/apps/scripts/kustomization.yaml
  kubernetes/apps/scripts/scheduled/ks.yaml
  kubernetes/apps/scripts/scheduled/lge-dev-renew/externalsecret.yaml
  kubernetes/apps/scripts/scheduled/lge-dev-renew/helmrelease.yaml
  kubernetes/apps/scripts/scheduled/lge-dev-renew/kustomization.yaml
Labels: cluster, apps

feat: scripts namespace
  kubernetes/apps/scripts/kustomization.yaml
  kubernetes/apps/scripts/scheduled/ks.yaml
  kubernetes/apps/scripts/scheduled/lge-dev-renew/externalsecret.yaml
  kubernetes/apps/scripts/scheduled/lge-dev-renew/helmrelease.yaml
  kubernetes/apps/scripts/scheduled/lge-dev-renew/kustomization.yaml
Labels: cluster, apps

send alerts to discord
  kubernetes/core/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: cluster, core

disable heartbeat for now
  kubernetes/core/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: cluster, core

feat(alertmanager): send notifications to discord (#999)
  kubernetes/core/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: cluster, core

feat(alertmanager): send notifications to discord (#999)
  kubernetes/core/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: cluster, core

fix(alertmanager): actually deploy the ES
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
  mise.toml
Labels: cluster, core

fix(alertmanager): actually deploy the ES
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
  mise.toml
Labels: cluster, core

feat!: get rid of postgres
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/.archive/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/.archive/crunchy-postgres/ks.yaml
  kubernetes/.archive/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/operator/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/kustomization.yaml
  kubernetes/core/database/kustomization.yaml
Labels: cluster, core

feat!: get rid of postgres
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/.archive/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/.archive/crunchy-postgres/ks.yaml
  kubernetes/.archive/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/operator/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/kustomization.yaml
  kubernetes/core/database/kustomization.yaml
Labels: cluster, core

fix(recyclarr): config location
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: cluster, apps

fix(recyclarr): config location
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: cluster, apps

feat(nas)!: roll back to old pihole version
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

feat(nas)!: roll back to old pihole version
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas): use older image
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas): use older image
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(recyclarr): missing pvc
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: cluster, apps

fix(recyclarr): missing pvc
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: cluster, apps

chore: theme-park
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/kustomization.yaml
  kubernetes/apps/selfhosted/theme-park/ks.yaml
Labels: cluster, apps

chore: theme-park
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/kustomization.yaml
  kubernetes/apps/selfhosted/theme-park/ks.yaml
Labels: cluster, apps

fix(ingress-nginx): update & tidy values
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
Labels: cluster, core

fix(ingress-nginx): update & tidy values
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
Labels: cluster, core

fix: naming
  kubernetes/apps/selfhosted/theme-park/ks.yaml
  kubernetes/core/flux-system/kustomize-mutating-webhook/app/helmrelease.yaml
Labels: cluster, core, apps

fix: naming
  kubernetes/apps/selfhosted/theme-park/ks.yaml
  kubernetes/core/flux-system/kustomize-mutating-webhook/app/helmrelease.yaml
Labels: cluster, core, apps

fix(flux-mutating-webhook): update values
  kubernetes/core/flux-system/kustomize-mutating-webhook/app/values.yaml
Labels: cluster, core

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
