Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

fix(tapo-exporter): it's TAPO_EMAIL not TAPO_USERNAME
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): configmap
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): configmap
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): cm name
  kubernetes/apps/home/go-tapo-exporter/app/kustomization.yaml
Labels: cluster, apps

fix(tapo-exporter): cm name
  kubernetes/apps/home/go-tapo-exporter/app/kustomization.yaml
Labels: cluster, apps

fix(grafana): dashboard ds
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): dashboard ds
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

Revert "fix(grafana): dashboard ds"
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

Revert "fix(grafana): dashboard ds"
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(stirling-pdf): image name
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): image name
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

ut2004 server
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

sloppy paste error
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

feat(games): ut2004 server (#1027)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

feat(games): ut2004 server (#1027)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

fix(ut2004): set default map too
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2004): secret name
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
Labels: cluster, apps

ci: pin changed-files action
  .github/workflows/docs-publish.yaml
  .github/workflows/pr-flux-diff.yaml
  .github/workflows/pr-label.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/scheduled-renovate.yaml
Labels: ci

ci: replace changed-files workflow
  .github/workflows/pr-lint.yaml
Labels: ci

ci: replace changed-files workflow
  .github/workflows/pr-lint.yaml
Labels: ci

ci: pin changed-files action
  .github/workflows/docs-publish.yaml
  .github/workflows/pr-flux-diff.yaml
  .github/workflows/pr-label.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/scheduled-renovate.yaml
Labels: ci

fix(renovate): repo path
  .github/renovate.json5
Labels: ci

fix(renovate): repo path
  .github/renovate.json5
Labels: ci

Revert "fix(renovate): repo path"
  .github/renovate.json5
Labels: ci

Revert "fix(renovate): repo path"
  .github/renovate.json5
Labels: ci

feat!: scale ut2004 to zero
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

feat!: scale ut2004 to zero
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(helm): remove unused chart repo
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/helm/metallb.yaml
Labels: cluster, apps, flux

fix(helm): remove unused chart repo
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/helm/metallb.yaml
Labels: cluster, apps, flux

feat: arc
  .pre-commit-config.yaml
  kubernetes/apps/ci/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/homelab-runners/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/homelab-runners/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/homelab-runners/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/homelab-runners/rbac.yaml
  kubernetes/apps/ci/actions-runner-controller/homelab-runners/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/ks.yaml
Labels: cluster, apps

fix: folder name
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/rbac.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
Labels: cluster, apps

remove duplicate oci repo
  kubernetes/flux/repos/oci/actions-runner-controller.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, flux

fix(nginx-ingress): upgrade to fix security vulnerability
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
Labels: cluster, core

fix(nginx-ingress): upgrade to fix security vulnerability
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
Labels: cluster, core

fix(vs): update mods
  kubernetes/apps/games/vintagestory/app/config/init.sh
Labels: cluster, apps

fix(vs): update mods
  kubernetes/apps/games/vintagestory/app/config/init.sh
Labels: cluster, apps

chore: migrate to home-operations containers
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

chore: migrate to home-operations containers (#1087)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

chore: migrate to home-operations containers (#1087)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

fix(theme-park): image name
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps
