Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix(theme-park): image name
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

feat: actions-runner-controller (#1065)
  .pre-commit-config.yaml
  kubernetes/apps/ci/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/ks.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/rbac.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/oci/bjw-s.yaml
  kubernetes/flux/repos/oci/controlplaneio.yaml
  kubernetes/flux/repos/oci/crunchydata.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, apps, flux

feat: actions-runner-controller (#1065)
  .pre-commit-config.yaml
  kubernetes/apps/ci/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/ks.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/rbac.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/oci/bjw-s.yaml
  kubernetes/flux/repos/oci/controlplaneio.yaml
  kubernetes/flux/repos/oci/crunchydata.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, apps, flux

fix(sabnzbd): image typo
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: cluster, apps

fix(sabnzbd): image typo
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): increase cpu req
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): increase cpu req
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

feat(vs): new mod downloader
  kubernetes/apps/games/vintagestory/app/config/init.sh
  kubernetes/apps/games/vintagestory/app/config/mods.py
  kubernetes/apps/games/vintagestory/app/config/mods.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

ci(github): fix ruff checks
  .github/workflows/pr-lint.yaml
Labels: ci

fix: move to dedicated init directory
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

fix: init files location
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

feat(vs): new mod downloader (#1092)
  .github/workflows/pr-lint.yaml
  kubernetes/apps/games/vintagestory/app/config/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: ci, cluster, apps

feat(vs): new mod downloader (#1092)
  .github/workflows/pr-lint.yaml
  kubernetes/apps/games/vintagestory/app/config/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: ci, cluster, apps

fix(vs): actually mount stuff in the container
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): actually mount stuff in the container
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): use /tmp for uv cache
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): use /tmp for uv cache
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): set uv cache in env
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): set uv cache in env
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): just make the cachedir an emptydir and be done with it
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): just make the cachedir an emptydir and be done with it
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(sabnzbd): image typo
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: cluster, apps

fix(sabnzbd): image typo
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): mount cache dir
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): mount cache dir
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): run script with full path
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): run script with full path
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(sonarr): image typo
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: cluster, apps

fix(sonarr): image typo
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): mod file path
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
Labels: cluster, apps

fix(vs): mod file path
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
Labels: cluster, apps

fix(vs): use an env file
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): use an env file
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): missing env var
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): missing env var
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): init script
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): init script
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
Labels: cluster, apps

fix(vs): env var
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): env var
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): mount the .env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
