Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

update version
  kubernetes/core/crossplane-system/crossplane/providers/github.yaml
Labels: cluster, core

dependsOn
  kubernetes/core/crossplane-system/crossplane/ks.yaml
Labels: cluster, core

feat: crossplane github provider (#1711)
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/core/crossplane-system/crossplane/ks.yaml
  kubernetes/core/crossplane-system/crossplane/providers/github.yaml
  kubernetes/core/crossplane-system/crossplane/providers/kustomization.yaml
Labels: cluster, core, apps

feat: crossplane github provider (#1711)
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/core/crossplane-system/crossplane/ks.yaml
  kubernetes/core/crossplane-system/crossplane/providers/github.yaml
  kubernetes/core/crossplane-system/crossplane/providers/kustomization.yaml
Labels: cluster, core, apps

fix(crunchy-postgres): actually deploy cluster
  kubernetes/core/database/crunchy-postgres/ks.yaml
Labels: cluster, core

fix(crunchy-postgres): actually deploy cluster
  kubernetes/core/database/crunchy-postgres/ks.yaml
Labels: cluster, core

fix(crossplane): identation
  kubernetes/core/crossplane-system/crossplane/ks.yaml
Labels: cluster, core

fix(crossplane): identation
  kubernetes/core/crossplane-system/crossplane/ks.yaml
Labels: cluster, core

fix(crossplane): full image name
  kubernetes/core/crossplane-system/crossplane/providers/github.yaml
Labels: cluster, core

fix(crossplane): full image name
  kubernetes/core/crossplane-system/crossplane/providers/github.yaml
Labels: cluster, core

fix(crunchy-postgres): nothing to restore
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
Labels: cluster, core

fix(crunchy-postgres): nothing to restore
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
Labels: cluster, core

chore: remove unused labels
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/helmrelease.yaml
Labels: cluster, core

chore: remove unused labels
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/helmrelease.yaml
Labels: cluster, core

individual postgres db
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/core/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/core/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/core/database/crunchy-postgres/ks.yaml
  kubernetes/flux/components/postgres/cluster.yaml
Labels: cluster, core, flux

tidy up
  .mise.toml
  nas/.archive/stacks/.gitkeep
Labels: nas

remove userinit
  kubernetes/core/database/crunchy-postgres/ks.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/kustomization.yaml
Labels: cluster, core

db component
  kubernetes/core/security/authelia/app/kustomization.yaml
  kubernetes/flux/components/postgres/kustomization.yaml
Labels: cluster, core, flux

update s3 name
  kubernetes/flux/components/postgres/cluster.yaml
Labels: cluster, flux

substitute
  kubernetes/core/security/authelia/ks.yaml
Labels: cluster, core

chore: individual postgres for apps (#1712)
  .mise.toml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/core/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/core/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/core/database/crunchy-postgres/ks.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/kustomization.yaml
  kubernetes/core/security/authelia/app/kustomization.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/flux/components/postgres/cluster.yaml
  kubernetes/flux/components/postgres/kustomization.yaml
  nas/.archive/stacks/.gitkeep
Labels: cluster, core, flux, nas

chore: individual postgres for apps (#1712)
  .mise.toml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/core/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/core/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/core/database/crunchy-postgres/ks.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/core/database/crunchy-postgres/userinit-controller/kustomization.yaml
  kubernetes/core/security/authelia/app/kustomization.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/flux/components/postgres/cluster.yaml
  kubernetes/flux/components/postgres/kustomization.yaml
  nas/.archive/stacks/.gitkeep
Labels: cluster, core, flux, nas

feat: redeploy authelia
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/kustomization.yaml
Labels: cluster, core

feat: redeploy authelia
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/kustomization.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/core/security/kustomization.yaml
Labels: cluster, core

feat: redeploy authelia
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/kustomization.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/core/security/kustomization.yaml
Labels: cluster, core

fix: db-backup secret
  kubernetes/flux/components/postgres/externalsecret.yaml
  kubernetes/flux/components/postgres/kustomization.yaml
Labels: cluster, flux

fix: db-backup secret
  kubernetes/flux/components/postgres/externalsecret.yaml
  kubernetes/flux/components/postgres/kustomization.yaml
Labels: cluster, flux

fix(postgres): turn off restore for now
  .mise.toml
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/flux/components/postgres/cluster.yaml
Labels: cluster, core, flux

fix(postgres): turn off restore for now
  .mise.toml
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/flux/components/postgres/cluster.yaml
Labels: cluster, core, flux

chore(authelia):upgrade config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

chore(authelia):upgrade config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

chore(authelia):upgrade config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
Labels: cluster, core

chore(authelia):upgrade config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
Labels: cluster, core

chore(authelia):upgrade config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/core/security/glauth/app/config/users.toml
  kubernetes/core/security/glauth/app/externalsecret.yaml
  kubernetes/flux/components/postgres/cluster.yaml
Labels: cluster, core, flux

chore(authelia):upgrade config
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/authelia/ks.yaml
  kubernetes/core/security/glauth/app/config/users.toml
  kubernetes/core/security/glauth/app/externalsecret.yaml
  kubernetes/flux/components/postgres/cluster.yaml
Labels: cluster, core, flux

feat(grafana): sso
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

feat(grafana): sso
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(authelia): smtp credentials
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

fix(authelia): smtp credentials
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

fix(smtp-relay): fix domain
  kubernetes/core/network/smtp-relay/app/config/maddy.conf
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
Labels: cluster, core

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
