Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

fix(ut2k4): scale up to 1
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(ut2k4): try another image
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(ut2k4): try another image
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(ut2k4): scale down
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(ut2k4): scale down
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix: readonly slop
  .vscode/mcp.json
Labels: none

fix: readonly slop
  .vscode/mcp.json
Labels: none

fix(flux): remove prefix
  kubernetes/core/flux-system/flux-operator/instance/helmrelease.yaml
Labels: cluster, core

fix(flux): remove prefix
  kubernetes/core/flux-system/flux-operator/instance/helmrelease.yaml
Labels: cluster, core

fix(flux-operator): remove prefix
  kubernetes/core/flux-system/flux-operator/app/helmrelease.yaml
Labels: cluster, core

fix(flux-operator): remove prefix
  kubernetes/core/flux-system/flux-operator/app/helmrelease.yaml
Labels: cluster, core

fix(mise): specify backends for renovate
  .mise.toml
  validate.sh
Labels: none

fix(mise): specify backends for renovate
  .mise.toml
  validate.sh
Labels: none

fix(romm): more resources
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

fix(romm): more resources
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

fix(mise): use full names for some tools
  .mise.toml
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

fix(mise): use full names for some tools
  .mise.toml
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

chore(recyclarr): gate order
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: cluster, apps

chore(recyclarr): gate order
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
Labels: cluster, apps

chore(hk): update and lint
  .github/renovate.json5
  .github/renovate/groups.json5
  .github/renovate/vintagestory.json5
  hk.pkl
Labels: ci

chore(hk): update and lint
  .github/renovate.json5
  .github/renovate/groups.json5
  .github/renovate/vintagestory.json5
  hk.pkl
Labels: ci

chore(hk): format
  hk.pkl
Labels: none

chore(hk): format
  hk.pkl
Labels: none

chore(hk): format
  hk.pkl
Labels: none

feat: tunarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
  kubernetes/apps/media/tunarr/app/kustomization.yaml
  kubernetes/apps/media/tunarr/ks.yaml
Labels: cluster, apps

fix controller name
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

change subdomain
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

fix healthcheck endpoint
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

@
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

remove tag
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

feat: tunarr (#1849)
  hk.pkl
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
  kubernetes/apps/media/tunarr/app/kustomization.yaml
  kubernetes/apps/media/tunarr/ks.yaml
Labels: cluster, apps

feat: tunarr (#1849)
  hk.pkl
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
  kubernetes/apps/media/tunarr/app/kustomization.yaml
  kubernetes/apps/media/tunarr/ks.yaml
Labels: cluster, apps

fix(tunarr): emptyDir for /root/.local/share/tunarr
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

fix(tunarr): emptyDir for /root/.local/share/tunarr
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

fix(tunarr): set db path
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

fix(tunarr): set db path
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

fix(tunarr): cannot detect it's running in k8s
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

fix(tunarr): cannot detect it's running in k8s
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
Labels: cluster, apps

feat!: tunarr out
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
  kubernetes/apps/media/tunarr/app/kustomization.yaml
  kubernetes/apps/media/tunarr/ks.yaml
Labels: cluster, apps

feat!: tunarr out
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tunarr/app/helmrelease.yaml
  kubernetes/apps/media/tunarr/app/kustomization.yaml
  kubernetes/apps/media/tunarr/ks.yaml
Labels: cluster, apps
