Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

chore(homepage): update background
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore(homepage): update background
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore(homepage): add router
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore(homepage): add router
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore(homepage): config update
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

chore(homepage): config update
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

chore(homepage): more monochrome
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore(homepage): more monochrome
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

fix(mealie): only allow oidc logins
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(mealie): only allow oidc logins
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

romm
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/romm/app/config/config.yml
  kubernetes/apps/games/romm/app/externalsecret.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
  kubernetes/apps/games/romm/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

auth secret
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

disable suffix
  kubernetes/apps/games/romm/app/kustomization.yaml
Labels: cluster, apps

feat: romm (#1761)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/romm/app/config/config.yml
  kubernetes/apps/games/romm/app/externalsecret.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
  kubernetes/apps/games/romm/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

feat: romm (#1761)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/romm/app/config/config.yml
  kubernetes/apps/games/romm/app/externalsecret.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
  kubernetes/apps/games/romm/ks.yaml
  kubernetes/core/security/authelia/app/config/config.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
Labels: cluster, core, apps

chore: clean up archive
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/.archive/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/.archive/crunchy-postgres/ks.yaml
  kubernetes/.archive/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/operator/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/kustomization.yaml
  nas/.archive/stacks/minio/docker-compose.yaml
Labels: cluster, nas

chore: clean up archive
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/rbac.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/cluster/networkpolicy.yaml
  kubernetes/.archive/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/.archive/crunchy-postgres/ks.yaml
  kubernetes/.archive/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/operator/kustomization.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/.archive/crunchy-postgres/userinit-controller/kustomization.yaml
  nas/.archive/stacks/minio/docker-compose.yaml
Labels: cluster, nas

chore(romm): more storage
  kubernetes/apps/games/romm/ks.yaml
Labels: cluster, apps

chore(romm): more storage
  kubernetes/apps/games/romm/ks.yaml
Labels: cluster, apps

runo
  kubernetes/core/system/kustomization.yaml
  kubernetes/core/system/runo/app/helmrelease.yaml
  kubernetes/core/system/runo/app/kustomization.yaml
  kubernetes/core/system/runo/app/ocirepository.yaml
  kubernetes/core/system/runo/ks.yaml
Labels: cluster, core

sloppy paste
  kubernetes/core/system/runo/app/helmrelease.yaml
  kubernetes/core/system/runo/app/kustomization.yaml
  kubernetes/core/system/runo/ks.yaml
Labels: cluster, core

-v
  kubernetes/core/system/runo/app/ocirepository.yaml
Labels: cluster, core

securitycontext
  kubernetes/core/system/runo/app/helmrelease.yaml
Labels: cluster, core

feat: runo (#1765)
  kubernetes/core/system/kustomization.yaml
  kubernetes/core/system/runo/app/helmrelease.yaml
  kubernetes/core/system/runo/app/kustomization.yaml
  kubernetes/core/system/runo/app/ocirepository.yaml
  kubernetes/core/system/runo/ks.yaml
Labels: cluster, core

feat: runo (#1765)
  kubernetes/core/system/kustomization.yaml
  kubernetes/core/system/runo/app/helmrelease.yaml
  kubernetes/core/system/runo/app/kustomization.yaml
  kubernetes/core/system/runo/app/ocirepository.yaml
  kubernetes/core/system/runo/ks.yaml
Labels: cluster, core

fix(actual): enforce openid logins
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/flux/components/dragonfly/secret.yaml
Labels: cluster, apps, flux

fix(actual): enforce openid logins
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/flux/components/dragonfly/secret.yaml
Labels: cluster, apps, flux

generate prowlarr api key
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/downloads/prowlarr/app/secret.yaml
Labels: cluster, apps

generate dragonfly secret
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, apps, flux

generate more secrets
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/secret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, apps, flux

remove es
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core

chore: generate secrets (#1770)
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/downloads/prowlarr/app/secret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/secret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, core, apps, flux

chore: generate secrets (#1770)
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/downloads/prowlarr/app/secret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/secret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
Labels: cluster, core, apps, flux

Revert "chore: generate secrets (#1770)"
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/downloads/prowlarr/app/secret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/secret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
  kubernetes/flux/components/dragonfly/secret.yaml
Labels: cluster, core, apps, flux

Revert "chore: generate secrets (#1770)"
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/downloads/prowlarr/app/secret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/secret.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/flux/components/dragonfly/externalsecret.yaml
  kubernetes/flux/components/dragonfly/kustomization.yaml
  kubernetes/flux/components/dragonfly/secret.yaml
Labels: cluster, core, apps, flux

Revert "chore: generate secrets (#1770)"
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

Revert "chore: generate secrets (#1770)"
  kubernetes/apps/games/romm/app/helmrelease.yaml
Labels: cluster, apps

chore(recyclarr): update config
  .mise.toml
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: cluster, apps

chore(recyclarr): update config
  .mise.toml
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: cluster, apps

chore(mise): add more tools
  .mise.toml
Labels: none
