Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

ci(renovate): add vintagestory game version
  .github/renovate/vintagestory.json5
Labels: ci

fix(homepage): logs emptydir
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

fix(homepage): logs emptydir
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

fix(homepage): forget about readonly rootfs
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

fix(homepage): forget about readonly rootfs
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

ci(renovate): update manager match patterns
  .github/renovate.json5
Labels: ci

chore(radarr): clean up unused config
  kubernetes/apps/downloads/radarr/app/config/secrets.yaml
Labels: cluster, apps

chore(radarr): clean up unused config
  kubernetes/apps/downloads/radarr/app/config/secrets.yaml
Labels: cluster, apps

ci(renovate): update manager match patterns
  .github/renovate.json5
Labels: ci

silence-operator & keda
  kubernetes/core/monitoring/keda/app/helmrelease.yaml
  kubernetes/core/monitoring/keda/app/kustomization.yaml
  kubernetes/core/monitoring/keda/app/ocirepository.yaml
  kubernetes/core/monitoring/keda/ks.yaml
  kubernetes/core/monitoring/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/silence-operator/ks.yaml
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/core/monitoring/silence-operator/silences/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/silences/nas_clock_sync.yaml
Labels: cluster, core

scale nfs apps
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: cluster, apps

add component
  kubernetes/core/monitoring/silence-operator/silences/nas_clock_sync.yaml
  kubernetes/flux/components/keda/nas-nfs-scaler/kustomization.yaml
  kubernetes/flux/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: cluster, core, flux

add blackbox-exporter
  kubernetes/core/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/ocirepository.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/probes.yaml
  kubernetes/core/monitoring/blackbox-exporter/ks.yaml
  kubernetes/core/monitoring/kustomization.yaml
Labels: cluster, core

prettier
  kubernetes/core/monitoring/blackbox-exporter/app/probes.yaml
Labels: cluster, core

feat: keda & silence-operator (#1249)
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/ocirepository.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/probes.yaml
  kubernetes/core/monitoring/blackbox-exporter/ks.yaml
  kubernetes/core/monitoring/keda/app/helmrelease.yaml
  kubernetes/core/monitoring/keda/app/kustomization.yaml
  kubernetes/core/monitoring/keda/app/ocirepository.yaml
  kubernetes/core/monitoring/keda/ks.yaml
  kubernetes/core/monitoring/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/silence-operator/ks.yaml
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/core/monitoring/silence-operator/silences/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/silences/nas_clock_sync.yaml
  kubernetes/flux/components/keda/nas-nfs-scaler/kustomization.yaml
  kubernetes/flux/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: cluster, core, apps, flux

feat: keda & silence-operator (#1249)
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/ocirepository.yaml
  kubernetes/core/monitoring/blackbox-exporter/app/probes.yaml
  kubernetes/core/monitoring/blackbox-exporter/ks.yaml
  kubernetes/core/monitoring/keda/app/helmrelease.yaml
  kubernetes/core/monitoring/keda/app/kustomization.yaml
  kubernetes/core/monitoring/keda/app/ocirepository.yaml
  kubernetes/core/monitoring/keda/ks.yaml
  kubernetes/core/monitoring/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/silence-operator/ks.yaml
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/core/monitoring/silence-operator/silences/kustomization.yaml
  kubernetes/core/monitoring/silence-operator/silences/nas_clock_sync.yaml
  kubernetes/flux/components/keda/nas-nfs-scaler/kustomization.yaml
  kubernetes/flux/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: cluster, core, apps, flux

chore(cert-manager): update promrule
  kubernetes/core/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: cluster, core

chore(cert-manager): update promrule
  kubernetes/core/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: cluster, core

chore(grafana): dashboards
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

chore(grafana): dashboards
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(silence-operator): silences ks path
  kubernetes/core/monitoring/silence-operator/ks.yaml
Labels: cluster, core

fix(silence-operator): silences ks path
  kubernetes/core/monitoring/silence-operator/ks.yaml
Labels: cluster, core

fix(silence-operator): alertmanager url
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
Labels: cluster, core

fix(silence-operator): alertmanager url
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
Labels: cluster, core

fix(kps): spelling
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/smartctl.yaml
Labels: cluster, core

fix(kps): spelling
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/smartctl.yaml
Labels: cluster, core

chore: probes for gameservers
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/probe.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
  kubernetes/apps/games/vintagestory/app/probe.yaml
Labels: cluster, apps

chore: probes for gameservers
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/probe.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
  kubernetes/apps/games/vintagestory/app/probe.yaml
Labels: cluster, apps

fix(es): resource limits
  kubernetes/core/security/external-secrets/app/helmrelease.yaml
Labels: cluster, core

fix(es): resource limits
  kubernetes/core/security/external-secrets/app/helmrelease.yaml
Labels: cluster, core

fix(stirling-pdf): memory limit++
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): memory limit++
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): tidy up
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): tidy up
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): scrape more
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

fix(tapo-exporter): scrape more
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps

chore: prettier linting
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  nas/stacks/pihole/docker-compose.yaml
Labels: cluster, core, nas

chore: prettier linting
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  nas/stacks/pihole/docker-compose.yaml
Labels: cluster, core, nas

refresh scripts
  kubernetes/apps/downloads/externalsecret.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: cluster, apps

secret
  kubernetes/apps/downloads/externalsecret.yaml
Labels: cluster, apps

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
