Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, cluster/mini, cluster/nas

fix: secret namespace
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/operator/helmrelease.yaml
Labels: cluster/mini

fix: secret namespace
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/operator/helmrelease.yaml
Labels: cluster/mini

fix: wait
  kubernetes/mini/flux/core.yaml
Labels: cluster/mini

fix: wait
  kubernetes/mini/flux/core.yaml
Labels: cluster/mini

fix(bazarr): indentation!
  kubernetes/mini/apps/downloads/bazarr/app/helmrelease.yaml
Labels: cluster/mini

fix(bazarr): indentation!
  kubernetes/mini/apps/downloads/bazarr/app/helmrelease.yaml
Labels: cluster/mini

feat: portainer stacks
  nas/stacks/test/docker-compose.yaml
Labels: none

feat: portainer stacks
  nas/stacks/test/docker-compose.yaml
Labels: none

fix: container name
  nas/stacks/test/docker-compose.yaml
Labels: none

fix: container name
  nas/stacks/test/docker-compose.yaml
Labels: none

feat: replace test stack with a real stack
  docs/nas.md
  nas/README.md
  nas/stacks/pihole/docker-compose.yaml
  nas/stacks/test/docker-compose.yaml
Labels: docs

feat: replace test stack with a real stack
  docs/nas.md
  nas/README.md
  nas/stacks/pihole/docker-compose.yaml
  nas/stacks/test/docker-compose.yaml
Labels: docs

fix: quotes are messy
  nas/stacks/pihole/docker-compose.yaml
Labels: none

fix: quotes are messy
  nas/stacks/pihole/docker-compose.yaml
Labels: none

fix: correct location for stacks
  nas/README.md
Labels: none

fix: correct location for stacks
  nas/README.md
Labels: none

feat(apps): test out pod-arcade
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/desktop/kustomization.yaml
  kubernetes/mini/apps/games/pod-arcade/ks.yaml
  kubernetes/mini/apps/games/pod-arcade/server/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/server/kustomization.yaml
  kubernetes/mini/flux/repos/helm/kustomization.yaml
  kubernetes/mini/flux/repos/helm/pod-arcade.yaml
Labels: cluster/mini

feat(apps): test out pod-arcade
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/desktop/kustomization.yaml
  kubernetes/mini/apps/games/pod-arcade/ks.yaml
  kubernetes/mini/apps/games/pod-arcade/server/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/server/kustomization.yaml
  kubernetes/mini/flux/repos/helm/kustomization.yaml
  kubernetes/mini/flux/repos/helm/pod-arcade.yaml
Labels: cluster/mini

fix: pod-arcade helm chart
  kubernetes/mini/flux/repos/helm/kustomization.yaml
Labels: cluster/mini

fix: pod-arcade helm chart
  kubernetes/mini/flux/repos/helm/kustomization.yaml
Labels: cluster/mini

feat: rip weaveworks
  kubernetes/mini/flux/repos/helm/kustomization.yaml
  kubernetes/mini/flux/repos/helm/weave-gitops.yaml
Labels: cluster/mini

feat: rip weaveworks
  kubernetes/mini/flux/repos/helm/kustomization.yaml
  kubernetes/mini/flux/repos/helm/weave-gitops.yaml
Labels: cluster/mini

fix: add spegel helmrepo
  kubernetes/mini/flux/repos/helm/spegel.yaml
Labels: cluster/mini

fix: add spegel helmrepo
  kubernetes/mini/flux/repos/helm/spegel.yaml
Labels: cluster/mini

fix: correct resources
  kubernetes/mini/apps/games/pod-arcade/desktop/kustomization.yaml
Labels: cluster/mini

fix: correct resources
  kubernetes/mini/apps/games/pod-arcade/desktop/kustomization.yaml
Labels: cluster/mini

fix: limit only
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
Labels: cluster/mini

fix: limit only
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
Labels: cluster/mini

fix: fat fingers sink ships
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
Labels: cluster/mini

fix: fat fingers sink ships
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
Labels: cluster/mini

feat(intel-gpu): enable resource management
  kubernetes/mini/core/system/intel-device-plugins/gpu/helmrelease.yaml
Labels: cluster/mini

feat(intel-gpu): enable resource management
  kubernetes/mini/core/system/intel-device-plugins/gpu/helmrelease.yaml
Labels: cluster/mini

fix: enable privileged containers in games ns
  kubernetes/mini/apps/games/namespace.yaml
Labels: cluster/mini

fix: enable privileged containers in games ns
  kubernetes/mini/apps/games/namespace.yaml
Labels: cluster/mini

fix(rook-ceph): disable network encryption to fix cephfs mounting issue
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
Labels: cluster/mini

fix(rook-ceph): disable network encryption to fix cephfs mounting issue
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
Labels: cluster/mini

fix(rook): clear mountOptions
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
Labels: cluster/mini

fix(rook): clear mountOptions
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
Labels: cluster/mini

fix: use env var replacement
  nas/stacks/pihole/docker-compose.yaml
Labels: none

fix: use env var replacement
  nas/stacks/pihole/docker-compose.yaml
Labels: none

.github/labeler.yaml:

---
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
cluster/mini:
  - changed-files:
      - any-glob-to-any-file: kubernetes/mini/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/pi/**/*
