Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster/main, core, apps, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/apps/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

fix prettier config locations
  .github/workflows/pr-lint.yaml
Labels: ci

temporarily remove tenor gifs
  .github/workflows/pr-lint.yaml
Labels: ci

remove extra newline
  .github/workflows/pr-lint.yaml
Labels: ci

better gif
  .github/workflows/pr-lint.yaml
Labels: ci

fix: double quotes in namespace labels
  kubernetes/main/apps/ci/namespace.yaml
  kubernetes/main/apps/dev/namespace.yaml
  kubernetes/main/apps/downloads/namespace.yaml
  kubernetes/main/apps/home/namespace.yaml
  kubernetes/main/apps/media/namespace.yaml
  kubernetes/main/apps/selfhosted/namespace.yaml
  kubernetes/main/core/cert-manager/namespace.yaml
  kubernetes/main/core/database/namespace.yaml
  kubernetes/main/core/network/namespace.yaml
  kubernetes/main/core/storage/namespace.yaml
  kubernetes/main/core/system/namespace.yaml
  kubernetes/main/core/volsync-system/namespace.yaml
Labels: cluster/main, core, apps

disable line length warnings
  .github/linters/yamllint.yaml
Labels: ci

add shellcheck to lint
  .github/workflows/pr-lint.yaml
Labels: ci

clean up formatting of apps in downloads
  .github/workflows/pr-lint.yaml
  kubernetes/main/.archive/mealie/app/helmrelease.yaml
  kubernetes/main/.archive/minio/app/config/secrets.yaml
  kubernetes/main/.archive/minio/app/helmrelease.yaml
  kubernetes/main/.archive/minio/app/kustomization.yaml
  kubernetes/main/.archive/minio/app/networkpolicy.yaml
  kubernetes/main/.archive/minio/ks.yaml
  kubernetes/main/.archive/vintagestory/app/helmrelease.yaml
  kubernetes/main/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
Labels: ci, cluster/main, apps

clean up formatting of apps in games
  .github/linters/prettierrc.yaml
  .github/linters/yamllint.yaml
  kubernetes/main/apps/games/minecraft/app/gatus.yaml
  kubernetes/main/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/main/apps/games/minecraft/app/networkpolicy.yaml
  kubernetes/main/apps/games/minecraft/ks.yaml
Labels: ci, cluster/main, apps

clean up formatting of apps in media
  kubernetes/main/apps/media/ersatztv/app/helmrelease.yaml
  kubernetes/main/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/media/jellyseerr/app/helmrelease.yaml
Labels: cluster/main, apps

clean up formatting of monitoring
  kubernetes/main/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/goldilocks/vpa/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
Labels: cluster/main, apps

clean up selfhosted
  kubernetes/main/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/themepark/app/helmrelease.yaml
Labels: cluster/main, apps

clean up web (not shot)
  kubernetes/main/apps/web/archiveteam-warrior/app/helmrelease.yaml
  kubernetes/main/apps/web/homelab-docs/app/helmrelease.yaml
Labels: cluster/main, apps

clean up database
  kubernetes/main/core/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/core/database/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/main/core/database/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/main/core/database/dragonfly/operator/helmrelease.yaml
Labels: cluster/main, core

prettier fixes
  kubernetes/main/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/bazarr/app/networkpolicy.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/networkpolicy.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/networkpolicy.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/tubesync/app/helmrelease.yaml
  kubernetes/main/apps/downloads/tubesync/app/networkpolicy.yaml
  kubernetes/main/apps/media/jellyfin/app/resources/dashboard.json
  kubernetes/main/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
  kubernetes/main/apps/monitoring/kromgo/app/networkpolicy.yaml
  kubernetes/main/apps/monitoring/kromgo/ks.yaml
  kubernetes/main/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/main/core/database/crunchy-postgres/cluster/postgres-cluster.yaml
  kubernetes/main/core/database/dragonfly/operator/helmrelease.yaml
Labels: cluster/main, core, apps

retire capacitor
  kubernetes/main/core/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/main/core/flux-system/capacitor/app/kustomization.yaml
  kubernetes/main/core/flux-system/capacitor/app/rbac.yaml
  kubernetes/main/core/flux-system/capacitor/ks.yaml
  kubernetes/main/core/flux-system/kustomization.yaml
Labels: cluster/main, core

markdownlint complaining
  .github/linters/conf.markdownlint.yaml
Labels: ci

fix markdownlint conf location
  .github/workflows/pr-lint.yaml
Labels: ci

clearer linting comment text
  .github/workflows/pr-lint.yaml
Labels: ci

re-deploy ci namespace
  kubernetes/main/apps/ci/kustomization.yaml
  kubernetes/main/apps/ci/networkpolicy.yaml
Labels: cluster/main, apps

remove stray markdown
  .github/workflows/pr-lint.yaml
Labels: ci
