Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

chore: force replace
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore: force replace
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

fix(dragonfly): sa name
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
Labels: cluster, core

fix(dragonfly): sa name
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
Labels: cluster, core

fix(homepage): config error
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

fix(homepage): config error
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

fix(recyclarr): update config
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
Labels: cluster, apps

fix(recyclarr): update config
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
Labels: cluster, apps

fix(grafana): dashboard datasource
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): dashboard datasource
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(alertmanager): actually load config
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core

fix(alertmanager): actually load config
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core

fix(alertmanager): send heartbeat somewhere
  kubernetes/core/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
Labels: cluster, core

fix(alertmanager): send heartbeat somewhere
  kubernetes/core/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
Labels: cluster, core

fix(grafana): add kwhr
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): add kwhr
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(hass): update some things
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/pvc.yaml
Labels: cluster, apps

fix(hass): update some things
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/pvc.yaml
Labels: cluster, apps

fix(hass): allowed proxy
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: cluster, apps

fix(hass): allowed proxy
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: cluster, apps

add mealie
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
Labels: cluster, apps

feat: mealie (#1236)
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
Labels: cluster, apps

feat: mealie (#1236)
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
Labels: cluster, apps

fix(mealie): memory increase
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(mealie): memory increase
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

add hetzner volsync
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/flux/components/volsync/hetzner/externalsecret.yaml
  kubernetes/flux/components/volsync/hetzner/kustomization.yaml
  kubernetes/flux/components/volsync/hetzner/pvc.yaml
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, apps, flux

fix: valid homepage icons
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

fix: valid homepage icons
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

chore(nas): folder structure
  nas/.archive/stacks/minio/docker-compose.yaml
Labels: nas

chore(nas): folder structure
  nas/.archive/stacks/minio/docker-compose.yaml
Labels: nas

fix(tasks): functioning rcon again
  .mise.toml
  .taskfiles/rcon/Taskfile.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
Labels: cluster, apps

fix(tasks): functioning rcon again
  .mise.toml
  .taskfiles/rcon/Taskfile.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
Labels: cluster, apps

chore(mise): reordering
  .mise.toml
Labels: none

chore(mise): reordering
  .mise.toml
Labels: none

ci(actionlint): relocate config file
  .github/actionlint.yaml
  .github/workflows/pr-lint.yaml
  .pre-commit-config.yaml
Labels: ci

ci(actionlint): relocate config file
  .github/actionlint.yaml
  .github/workflows/pr-lint.yaml
  .pre-commit-config.yaml
Labels: ci

add cf-dyndns
  kubernetes/apps/jobs/cf-dyndns/app/externalsecret.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
  kubernetes/apps/jobs/cf-dyndns/app/kustomization.yaml
  kubernetes/apps/jobs/cf-dyndns/ks.yaml
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/kustomization.yaml
  kubernetes/apps/jobs/lge-dev-renew/ks.yaml
Labels: cluster, apps

increase frequency
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

controller name
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

feat: cloudflare dyndns (#1238)
  kubernetes/apps/jobs/cf-dyndns/app/externalsecret.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
  kubernetes/apps/jobs/cf-dyndns/app/kustomization.yaml
  kubernetes/apps/jobs/cf-dyndns/ks.yaml
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/kustomization.yaml
  kubernetes/apps/jobs/lge-dev-renew/ks.yaml
Labels: cluster, apps
