Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

chore(karakeep): disable signups
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

chore(karakeep): disable signups
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

fix(cf-dyndns): secret name shadowing
  kubernetes/core/network/cf-dyndns/app/externalsecret.yaml
Labels: cluster, core

fix(cf-dyndns): secret name shadowing
  kubernetes/core/network/cf-dyndns/app/externalsecret.yaml
Labels: cluster, core

chore(ut2004): scale to 0
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(ut2004): scale to 0
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(mise): used fixed versions
  .mise.toml
Labels: none

chore(tasks): add oidc tasks
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore(mise): used fixed versions
  .mise.toml
Labels: none

chore(tasks): add oidc tasks
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

replace exportarr with scraparr
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/kustomization.yaml
  kubernetes/apps/downloads/scraparr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core, apps

dont commit this
  kubernetes/apps/dev/kustomization.yaml
Labels: cluster, apps

fix unused secret manifest ref
  kubernetes/apps/downloads/scraparr/app/kustomization.yaml
Labels: cluster, apps

feat: replace exportarr with scraparr (#1423)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/kustomization.yaml
  kubernetes/apps/downloads/scraparr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core, apps

feat: replace exportarr with scraparr (#1423)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/kustomization.yaml
  kubernetes/apps/downloads/scraparr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core, apps

fix(scraparr): sloppy paste
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
Labels: cluster, apps

fix(scraparr): sloppy paste
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
Labels: cluster, apps

fix(scraparr): jellyseerr api key
  kubernetes/apps/downloads/scraparr/app/externalsecret.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/kustomization.yaml
Labels: cluster, apps

fix(scraparr): jellyseerr api key
  kubernetes/apps/downloads/scraparr/app/externalsecret.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/downloads/scraparr/app/kustomization.yaml
Labels: cluster, apps

chore(scraparr): increase scrape frequency
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
Labels: cluster, apps

chore(scraparr): increase scrape frequency
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
Labels: cluster, apps

deploy operator
  kubernetes/core/database/crunchy-postgres/ks.yaml
  kubernetes/core/database/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/core/database/crunchy-postgres/operator/kustomization.yaml
  kubernetes/core/database/crunchy-postgres/operator/ocirepository.yaml
  kubernetes/core/database/kustomization.yaml
Labels: cluster, core

chore: clean up lychee leftovers
  .github/linters/lychee.toml
  .github/scripts/env.sh
  .gitignore
  .mise.toml
  hk.pkl
Labels: ci

chore: clean up lychee leftovers
  .github/linters/lychee.toml
  .github/scripts/env.sh
  .gitignore
  .mise.toml
  hk.pkl
Labels: ci

chore(volsync): clean up temp/cache PVCs
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
Labels: cluster, flux

chore(volsync): clean up temp/cache PVCs
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
Labels: cluster, flux

ci: use token for linting job
  .github/workflows/pr-lint.yaml
Labels: ci

ci: use token for linting job
  .github/workflows/pr-lint.yaml
Labels: ci

chore: add volsync unlock task
  .taskfiles/volsync/Taskfile.yaml
Labels: none

chore: add volsync unlock task
  .taskfiles/volsync/Taskfile.yaml
Labels: none

ci(linting): pass GITHUB_TOKEN to mise
  .github/workflows/pr-lint.yaml
Labels: ci

ci(linting): pass GITHUB_TOKEN to mise
  .github/workflows/pr-lint.yaml
Labels: ci

chore(tasks): use httproute to fetch webhook url
  .taskfiles/k8s/Taskfile.yaml
Labels: none

chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: ci

chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: ci

chore(tasks): use httproute to fetch webhook url
  .taskfiles/k8s/Taskfile.yaml
Labels: none

fix(hass): gateway ns
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: cluster, apps

fix(hass): gateway ns
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: cluster, apps

chore(tasks): fix up rcon details parsing
  .taskfiles/rcon/Taskfile.yaml
Labels: none

chore(tasks): fix up rcon details parsing
  .taskfiles/rcon/Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
