Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

feat: deploy tof-tl (#2104)
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
  kubernetes/apps/web/tof-tl/app/kustomization.yaml
  kubernetes/apps/web/tof-tl/ks.yaml
Labels: cluster, apps

feat: deploy tof-tl (#2104)
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
  kubernetes/apps/web/tof-tl/app/kustomization.yaml
  kubernetes/apps/web/tof-tl/ks.yaml
Labels: cluster, apps

fix(tof-tl): no need for emptydir
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): no need for emptydir
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

chore(tof-tl): use nginx unpriv image for dev
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix mounts
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

chore(tof-tl): use nginx unpriv image for dev (#2107)
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

chore(tof-tl): use nginx unpriv image for dev (#2107)
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

feat!: use new vsmap image
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

feat!: use new vsmap image (#2129)
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

feat!: use new vsmap image (#2129)
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): tmp emptyDir
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): tmp emptyDir
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): volume
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): volume
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): set sync period
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): set sync period
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): set correct link path
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): set correct link path
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): use nginx conf
  kubernetes/apps/web/tof-tl/app/config/default.conf
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
  kubernetes/apps/web/tof-tl/app/kustomization.yaml
Labels: cluster, apps

fix(tof-tl): use nginx conf
  kubernetes/apps/web/tof-tl/app/config/default.conf
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
  kubernetes/apps/web/tof-tl/app/kustomization.yaml
Labels: cluster, apps

chore: reorganise
  .github/mkdocs/mkdocs.yaml
  .github/workflows/docs-publish.yaml
  .gitignore
  .mise.toml
  .prettierignore
  .taskfiles/repo/Taskfile.yaml
  docs/README.md
  docs/cluster/index.md
  docs/index.md
  docs/nas.md
  hk.pkl
  nas/.archive/arr/docker-compose.yaml
  pyproject.toml
Labels: ci, nas, docs

chore: reorganise
  .github/mkdocs/mkdocs.yaml
  .github/workflows/docs-publish.yaml
  .gitignore
  .mise.toml
  .prettierignore
  .taskfiles/repo/Taskfile.yaml
  docs/README.md
  docs/cluster/index.md
  docs/index.md
  docs/nas.md
  hk.pkl
  nas/.archive/arr/docker-compose.yaml
  pyproject.toml
Labels: ci, nas, docs

docs: remove github pages ref
  docs/README.md
Labels: docs

docs: remove github pages ref
  docs/README.md
Labels: docs

fix(stirling-pdf): fix paths
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): fix paths
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): no readonly fs
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): no readonly fs
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

chore: remove LLM guff
  .mise.toml
  .vscode/mcp.json
Labels: none

chore: remove LLM guff
  .mise.toml
  .vscode/mcp.json
Labels: none

feat(jellyfin): export more metric details
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
Labels: cluster, apps

feat(jellyfin): export more metric details
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
Labels: cluster, apps

feat(tof-tl)!: switch to new image
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

feat(tof-tl)!: switch to new image
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): port
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(tof-tl): port
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps

fix(dragonfly): update image
  kubernetes/flux/components/dragonfly/cluster.yaml
Labels: cluster, flux

chore(dragonfly): switch to ghcr
  kubernetes/flux/components/dragonfly/cluster.yaml
Labels: cluster, flux

feat!: just do it
  .doppler.yaml
  .justfile
  .mise.toml
  kubernetes/.bootstrap/helmfile.d/00-crds.yaml
  kubernetes/.bootstrap/helmfile.d/001-apps.yaml
  kubernetes/mod.just
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/mod.just
  kubernetes/talos/nodes/control01.yaml.j2
  kubernetes/talos/schematic.yaml
  kubernetes/talos/talconfig.yaml
  kubernetes/talos/talsecret.tmpl.yaml
Labels: cluster

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
