Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

fix(kps): retention
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core

fix(kps): retention
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core

remove configmapgenerator
  kubernetes/core/network/smtp-relay/app/kustomization.yaml
Labels: cluster, core

fix path
  .github/workflows/pr-vsmod.yaml
Labels: ci

chore(vintagestory): scale to 0
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vintagestory): scale to 0
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore: fix up repo setup
  .mise.toml
  .taskfiles/repo/Taskfile.yaml
  .vscode/extensions.json
  hk.pkl
Labels: none

chore: fix up repo setup
  .mise.toml
  .taskfiles/repo/Taskfile.yaml
  .vscode/extensions.json
  hk.pkl
Labels: none

chore: update recommended plugins
  .vscode/extensions.json
Labels: none

feat!: deploy renovate-operator
  kubernetes/apps/ci/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/helmrelease.yaml
  kubernetes/apps/ci/renovate-operator/app/httproute.yaml
  kubernetes/apps/ci/renovate-operator/app/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml.yaml
  kubernetes/apps/ci/renovate-operator/jobs/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/jobs/stevewm.yaml
  kubernetes/apps/ci/renovate-operator/ks.yaml
Labels: cluster, apps

-.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml
Labels: cluster, apps

cleanup
  vs.yaml
Labels: none

suspend renovate workflow
  .github/workflows/scheduled-renovate.yaml
Labels: ci

feat!: deploy renovate-operator (#2062)
  .github/workflows/scheduled-renovate.yaml
  .vscode/extensions.json
  kubernetes/apps/ci/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/helmrelease.yaml
  kubernetes/apps/ci/renovate-operator/app/httproute.yaml
  kubernetes/apps/ci/renovate-operator/app/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml.yaml
  kubernetes/apps/ci/renovate-operator/jobs/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/jobs/stevewm.yaml
  kubernetes/apps/ci/renovate-operator/ks.yaml
  vs.yaml
Labels: ci, cluster, apps

feat!: deploy renovate-operator (#2062)
  .github/workflows/scheduled-renovate.yaml
  .vscode/extensions.json
  kubernetes/apps/ci/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/helmrelease.yaml
  kubernetes/apps/ci/renovate-operator/app/httproute.yaml
  kubernetes/apps/ci/renovate-operator/app/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml.yaml
  kubernetes/apps/ci/renovate-operator/jobs/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/jobs/stevewm.yaml
  kubernetes/apps/ci/renovate-operator/ks.yaml
  vs.yaml
Labels: ci, cluster, apps

feat: deploy renovate jobs
  kubernetes/apps/ci/renovate-operator/ks.yaml
Labels: cluster, apps

feat: deploy renovate jobs
  kubernetes/apps/ci/renovate-operator/ks.yaml
Labels: cluster, apps

feat!: switch to seerr
  kubernetes/apps/downloads/scraparr/app/externalsecret.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/networkpolicy.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

fix secret name
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

fix(renovate): actually deploy the httproute
  kubernetes/apps/ci/renovate-operator/app/httproute.yaml
  kubernetes/apps/ci/renovate-operator/app/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml.yaml
Labels: cluster, apps

fix(renovate): actually deploy the httproute
  kubernetes/apps/ci/renovate-operator/app/httproute.yaml
  kubernetes/apps/ci/renovate-operator/app/kustomization.yaml
  kubernetes/apps/ci/renovate-operator/app/ocirepository.yaml.yaml
Labels: cluster, apps

feat!: switch to seerr (#2063)
  kubernetes/apps/downloads/scraparr/app/externalsecret.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/networkpolicy.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

feat!: switch to seerr (#2063)
  kubernetes/apps/downloads/scraparr/app/externalsecret.yaml
  kubernetes/apps/downloads/scraparr/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/networkpolicy.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

fix(seerr): use old pvc for now
  kubernetes/apps/media/seerr/ks.yaml
Labels: cluster, apps

fix(seerr): use old pvc for now
  kubernetes/apps/media/seerr/ks.yaml
Labels: cluster, apps

feat(renovate)!: remove workflow
  .github/workflows/scheduled-renovate.yaml
Labels: ci

feat(renovate)!: remove workflow
  .github/workflows/scheduled-renovate.yaml
Labels: ci

fix(renovate): perms
  kubernetes/apps/ci/renovate-operator/jobs/stevewm.yaml
Labels: cluster, apps

fix(renovate): perms
  kubernetes/apps/ci/renovate-operator/jobs/stevewm.yaml
Labels: cluster, apps

fix(seerr): correct widget type annotation
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: cluster, apps

fix(seerr): correct widget type annotation
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: cluster, apps

fix(seerr): correct endpoint for homepage
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: cluster, apps

fix(seerr): correct endpoint for homepage
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: cluster, apps

fix(seerr): correct endpoint for homepage
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: cluster, apps

remove ut2004
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

remove unused netpol stuff
  kubernetes/apps/ci/kustomization.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/networkpolicy.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/test/kustomization.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/core/cert-manager/kustomization.yaml
  kubernetes/core/database/kustomization.yaml
  kubernetes/core/kube-system/kustomization.yaml
  kubernetes/core/monitoring/kustomization.yaml
  kubernetes/core/network/kustomization.yaml
  kubernetes/core/security/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-allow/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-allow/networkpolicy.yaml
  kubernetes/flux/components/networkpolicy/default-deny/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-deny/networkpolicy.yaml
Labels: cluster, core, apps, flux

chore: clean up some old stuff (#2079)
  kubernetes/apps/ci/kustomization.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/networkpolicy.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/test/kustomization.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/core/cert-manager/kustomization.yaml
  kubernetes/core/database/kustomization.yaml
  kubernetes/core/kube-system/kustomization.yaml
  kubernetes/core/monitoring/kustomization.yaml
  kubernetes/core/network/kustomization.yaml
  kubernetes/core/security/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-allow/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-allow/networkpolicy.yaml
  kubernetes/flux/components/networkpolicy/default-deny/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-deny/networkpolicy.yaml
Labels: cluster, core, apps, flux

chore: clean up some old stuff (#2079)
  kubernetes/apps/ci/kustomization.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/networkpolicy.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/test/kustomization.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/core/cert-manager/kustomization.yaml
  kubernetes/core/database/kustomization.yaml
  kubernetes/core/kube-system/kustomization.yaml
  kubernetes/core/monitoring/kustomization.yaml
  kubernetes/core/network/kustomization.yaml
  kubernetes/core/security/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-allow/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-allow/networkpolicy.yaml
  kubernetes/flux/components/networkpolicy/default-deny/kustomization.yaml
  kubernetes/flux/components/networkpolicy/default-deny/networkpolicy.yaml
Labels: cluster, core, apps, flux

feat: deploy tof-tl
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
  kubernetes/apps/web/tof-tl/app/kustomization.yaml
  kubernetes/apps/web/tof-tl/ks.yaml
Labels: cluster, apps

use external gateway
  kubernetes/apps/web/tof-tl/app/helmrelease.yaml
Labels: cluster, apps
