Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, cluster/mini, cluster/nas

fix(docs): include not functioning
  docs/Dockerfile
  docs/requirements.txt
  kubernetes/mini/README.md
  mkdocs.yml
Labels: docs, cluster/mini

fix(docs): include not functioning
  docs/Dockerfile
  docs/requirements.txt
  kubernetes/mini/README.md
  mkdocs.yml
Labels: docs, cluster/mini

fix: check out the repo
  .github/workflows/repo-label-prs.yml
Labels: none

fix: check out the repo
  .github/workflows/repo-label-prs.yml
Labels: none

feat: deploy volsync
  .pre-commit-config.yaml
  kubernetes/mini/infrastructure/volsync-system/kustomization.yaml
  kubernetes/mini/infrastructure/volsync-system/namespace.yaml
  kubernetes/mini/infrastructure/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/mini/infrastructure/volsync-system/volsync/app/kustomization.yaml
  kubernetes/mini/infrastructure/volsync-system/volsync/ks.yaml
Labels: cluster/mini

feat: deploy volsync
  .pre-commit-config.yaml
  kubernetes/mini/infrastructure/volsync-system/kustomization.yaml
  kubernetes/mini/infrastructure/volsync-system/namespace.yaml
  kubernetes/mini/infrastructure/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/mini/infrastructure/volsync-system/volsync/app/kustomization.yaml
  kubernetes/mini/infrastructure/volsync-system/volsync/ks.yaml
Labels: cluster/mini

feat: repo settings as code
  .github/settings.yml
Labels: none

feat: repo settings as code
  .github/settings.yml
Labels: none

feat: move more functionality into devshell
  .envrc
  .taskfiles/k8s/Taskfile.yaml
  Brewfile
  Taskfile.yaml
  devshell.toml
  shell.nix
Labels: none

feat: move more functionality into devshell
  .envrc
  .taskfiles/k8s/Taskfile.yaml
  Brewfile
  Taskfile.yaml
  devshell.toml
  shell.nix
Labels: none

chore: tidy up
  .gitignore
Labels: none

chore: tidy up
  .gitignore
Labels: none

feat(pre-commit): fluxcd hooks
  .pre-commit-config.yaml
Labels: none

feat(pre-commit): fluxcd hooks
  .pre-commit-config.yaml
Labels: none

feat: use devshell
  .envrc
  .taskfiles/nas/Taskfile.yaml
  Taskfile.yaml
  devshell.toml
Labels: none

feat: use devshell
  .envrc
  .taskfiles/nas/Taskfile.yaml
  Taskfile.yaml
  devshell.toml
Labels: none

fix(docs): clean up Dockerfile
  docs/Dockerfile
Labels: docs

fix(docs): clean up Dockerfile
  docs/Dockerfile
Labels: docs

feat: bye bye weaveworks
  .pre-commit-config.yaml
  kubernetes/.archive/weave-gitops/app/externalsecret.yaml
  kubernetes/.archive/weave-gitops/app/helmrelease.yaml
  kubernetes/.archive/weave-gitops/app/kustomization.yaml
  kubernetes/.archive/weave-gitops/ks.yaml
Labels: none

feat: bye bye weaveworks
  .pre-commit-config.yaml
  kubernetes/.archive/weave-gitops/app/externalsecret.yaml
  kubernetes/.archive/weave-gitops/app/helmrelease.yaml
  kubernetes/.archive/weave-gitops/app/kustomization.yaml
  kubernetes/.archive/weave-gitops/ks.yaml
Labels: none

fix: disable drift detection for now
  .pre-commit-config.yaml
Labels: none

fix: disable drift detection for now
  .pre-commit-config.yaml
Labels: none

fix(pre-commit): we dont use sops for secrets anymore
  .pre-commit-config.yaml
Labels: none

fix(pre-commit): we dont use sops for secrets anymore
  .pre-commit-config.yaml
Labels: none

fix(flux): increase memory limit
  kubernetes/mini/flux/config/flux.yaml
Labels: cluster/mini

fix(flux): increase memory limit
  kubernetes/mini/flux/config/flux.yaml
Labels: cluster/mini

feat(rook-ceph): more consistent namespace name
  kubernetes/mini/core/rook-ceph-system/kustomization.yaml
  kubernetes/mini/core/rook-ceph-system/namespace.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/kustomization.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/operator/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/operator/kustomization.yaml
Labels: cluster/mini

feat(rook-ceph): more consistent namespace name
  kubernetes/mini/core/rook-ceph-system/kustomization.yaml
  kubernetes/mini/core/rook-ceph-system/namespace.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/kustomization.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/operator/helmrelease.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/operator/kustomization.yaml
Labels: cluster/mini

fix(talos): use proper interface for vip
  kubernetes/mini/talos/talconfig.yaml
Labels: cluster/mini

fix(talos): use proper interface for vip
  kubernetes/mini/talos/talconfig.yaml
Labels: cluster/mini

fix: rename prefix to core too
  kubernetes/mini/core/cert-manager/cert-manager/ks.yaml
  kubernetes/mini/core/cnpg-system/cloudnative-pg/ks.yaml
  kubernetes/mini/core/external-secrets/external-secrets-operator/ks.yaml
  kubernetes/mini/core/flux-system/fluxcd/ks.yaml
  kubernetes/mini/core/kube-system/cilium/ks.yaml
  kubernetes/mini/core/kube-system/metrics-server/ks.yaml
  kubernetes/mini/core/metallb-system/metallb/ks.yaml
  kubernetes/mini/core/monitoring/gatus/ks.yaml
  kubernetes/mini/core/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/mini/core/network/external-dns/ks.yaml
  kubernetes/mini/core/network/ingress-nginx/ks.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
  kubernetes/mini/core/storage/snapshot-controller/ks.yaml
  kubernetes/mini/core/system/intel-device-plugins/ks.yaml
  kubernetes/mini/core/system/k8tz/ks.yaml
  kubernetes/mini/core/system/kubelet-csr-approver/ks.yaml
  kubernetes/mini/core/system/node-feature-discovery/ks.yaml
  kubernetes/mini/core/system/reloader/ks.yaml
  kubernetes/mini/core/system/secret-generator/ks.yaml
  kubernetes/mini/core/volsync-system/volsync/ks.yaml
Labels: cluster/mini

fix: rename prefix to core too
  kubernetes/mini/core/cert-manager/cert-manager/ks.yaml
  kubernetes/mini/core/cnpg-system/cloudnative-pg/ks.yaml
  kubernetes/mini/core/external-secrets/external-secrets-operator/ks.yaml
  kubernetes/mini/core/flux-system/fluxcd/ks.yaml
  kubernetes/mini/core/kube-system/cilium/ks.yaml
  kubernetes/mini/core/kube-system/metrics-server/ks.yaml
  kubernetes/mini/core/metallb-system/metallb/ks.yaml
  kubernetes/mini/core/monitoring/gatus/ks.yaml
  kubernetes/mini/core/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/mini/core/network/external-dns/ks.yaml
  kubernetes/mini/core/network/ingress-nginx/ks.yaml
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
  kubernetes/mini/core/storage/snapshot-controller/ks.yaml
  kubernetes/mini/core/system/intel-device-plugins/ks.yaml
  kubernetes/mini/core/system/k8tz/ks.yaml
  kubernetes/mini/core/system/kubelet-csr-approver/ks.yaml
  kubernetes/mini/core/system/node-feature-discovery/ks.yaml
  kubernetes/mini/core/system/reloader/ks.yaml
  kubernetes/mini/core/system/secret-generator/ks.yaml
  kubernetes/mini/core/volsync-system/volsync/ks.yaml
Labels: cluster/mini

fix: secret name
  kubernetes/mini/core/flux-system/fluxcd/alerting/externalsecret.yaml
Labels: cluster/mini

fix: secret name
  kubernetes/mini/core/flux-system/fluxcd/alerting/externalsecret.yaml
Labels: cluster/mini

chore: rename notification provider
  kubernetes/mini/core/flux-system/fluxcd/alerting/alert.yaml
  kubernetes/mini/core/flux-system/fluxcd/alerting/provider.yaml
Labels: cluster/mini

chore: rename notification provider
  kubernetes/mini/core/flux-system/fluxcd/alerting/alert.yaml
  kubernetes/mini/core/flux-system/fluxcd/alerting/provider.yaml
Labels: cluster/mini

fix(rook-ceph): target ns has changed
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
Labels: cluster/mini

fix(rook-ceph): target ns has changed
  kubernetes/mini/core/rook-ceph-system/rook-ceph/ks.yaml
Labels: cluster/mini

fix(external-secrets): resource limit
  kubernetes/mini/core/external-secrets/external-secrets-operator/app/helmrelease.yaml
Labels: cluster/mini

fix(external-secrets): resource limit
  kubernetes/mini/core/external-secrets/external-secrets-operator/app/helmrelease.yaml
Labels: cluster/mini

.github/labeler.yaml:

---
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
cluster/mini:
  - changed-files:
      - any-glob-to-any-file: kubernetes/mini/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/pi/**/*
