Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

feat: cloudflare dyndns (#1238)
  kubernetes/apps/jobs/cf-dyndns/app/externalsecret.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
  kubernetes/apps/jobs/cf-dyndns/app/kustomization.yaml
  kubernetes/apps/jobs/cf-dyndns/ks.yaml
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/kustomization.yaml
  kubernetes/apps/jobs/lge-dev-renew/ks.yaml
Labels: cluster, apps

fix(cf-dyndns): domain
  kubernetes/apps/jobs/cf-dyndns/app/externalsecret.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

fix(cf-dyndns): domain
  kubernetes/apps/jobs/cf-dyndns/app/externalsecret.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

fix(cf-dyndns): replace
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

fix(cf-dyndns): replace
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

feat: hetzner volsync (#1237)
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/flux/components/volsync/hetzner/externalsecret.yaml
  kubernetes/flux/components/volsync/hetzner/kustomization.yaml
  kubernetes/flux/components/volsync/hetzner/pvc.yaml
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, apps, flux

feat: hetzner volsync (#1237)
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/flux/components/volsync/hetzner/externalsecret.yaml
  kubernetes/flux/components/volsync/hetzner/kustomization.yaml
  kubernetes/flux/components/volsync/hetzner/pvc.yaml
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, apps, flux

ci: actually add actionlint conf
  .github/linters/actionlint.yaml
Labels: ci

ci: actually add actionlint conf
  .github/linters/actionlint.yaml
Labels: ci

fix(volsync): restic repo name
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, flux

fix(volsync): restic repo name
  kubernetes/flux/components/volsync/hetzner/replicationdestination.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, flux

get rid of b2
  kubernetes/.archive/ersatztv/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/kustomization.yaml
  kubernetes/flux/components/volsync/b2/pvc.yaml
  kubernetes/flux/components/volsync/b2/replicationdestination.yaml
  kubernetes/flux/components/volsync/b2/replicationsource.yaml
Labels: cluster, apps, flux

add volsync prometheusrule
  kubernetes/core/storage/volsync/app/kustomization.yaml
  kubernetes/core/storage/volsync/app/prometheusrule.yaml
Labels: cluster, core

add some prom rules
  kubernetes/core/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/core/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/core/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/core/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/oomkilled.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/smartctl.yaml
  kubernetes/core/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/core/network/external-dns/cloudflare/prometheusrule.yaml
Labels: cluster, core

feat(prom): rules (#1240)
  kubernetes/core/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/core/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/core/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/core/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/oomkilled.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/smartctl.yaml
  kubernetes/core/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/core/network/external-dns/cloudflare/prometheusrule.yaml
Labels: cluster, core

feat(prom): rules (#1240)
  kubernetes/core/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/core/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/core/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/core/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/oomkilled.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/prometheusrules/smartctl.yaml
  kubernetes/core/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/core/network/external-dns/cloudflare/prometheusrule.yaml
Labels: cluster, core

fix(mealie): increase memory
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(mealie): increase memory
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

chore: use consistent memory unit
  kubernetes/.archive/buildarr/app/helmrelease.yaml
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/janitorr/app/helmrelease.yaml
  kubernetes/.archive/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/core/security/external-secrets/app/helmrelease.yaml
  kubernetes/core/system/k8tz/app/helmrelease.yaml
Labels: cluster, core, apps

chore: use consistent memory unit
  kubernetes/.archive/buildarr/app/helmrelease.yaml
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/janitorr/app/helmrelease.yaml
  kubernetes/.archive/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/core/security/external-secrets/app/helmrelease.yaml
  kubernetes/core/system/k8tz/app/helmrelease.yaml
Labels: cluster, core, apps

fix(mealie): stop oomkills
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(mealie): stop oomkills
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(mealie): port
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

fix(mealie): port
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: cluster, apps

feat(volsync)!: bye bye (b2) (#1239)
  kubernetes/.archive/ersatztv/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/core/storage/volsync/app/kustomization.yaml
  kubernetes/core/storage/volsync/app/prometheusrule.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/kustomization.yaml
  kubernetes/flux/components/volsync/b2/pvc.yaml
  kubernetes/flux/components/volsync/b2/replicationdestination.yaml
  kubernetes/flux/components/volsync/b2/replicationsource.yaml
  kubernetes/flux/components/volsync/hetzner/externalsecret.yaml
  kubernetes/flux/components/volsync/hetzner/kustomization.yaml
Labels: cluster, core, apps, flux

feat(volsync)!: bye bye (b2) (#1239)
  kubernetes/.archive/ersatztv/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/core/storage/volsync/app/kustomization.yaml
  kubernetes/core/storage/volsync/app/prometheusrule.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/kustomization.yaml
  kubernetes/flux/components/volsync/b2/pvc.yaml
  kubernetes/flux/components/volsync/b2/replicationdestination.yaml
  kubernetes/flux/components/volsync/b2/replicationsource.yaml
  kubernetes/flux/components/volsync/hetzner/externalsecret.yaml
  kubernetes/flux/components/volsync/hetzner/kustomization.yaml
Labels: cluster, core, apps, flux

fix: increased volsync frequency
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
Labels: cluster, apps

fix: increased volsync frequency
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/games/vintagestory/ks.yaml
Labels: cluster, apps

fix(volsync): unfuck
  kubernetes/flux/components/volsync/hetzner/pvc.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, flux

fix(volsync): unfuck
  kubernetes/flux/components/volsync/hetzner/pvc.yaml
  kubernetes/flux/components/volsync/hetzner/replicationsource.yaml
Labels: cluster, flux

defaultContainerOptions
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
  kubernetes/apps/jobs/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
Labels: cluster, core, apps

remove mealie from archive - it's deployed!
  kubernetes/.archive/mealie/app/externalsecret.yaml
  kubernetes/.archive/mealie/app/helmrelease.yaml
  kubernetes/.archive/mealie/app/kustomization.yaml
  kubernetes/.archive/mealie/ks.yaml
Labels: cluster

override a few things
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
Labels: cluster, core, apps

fix(goldilocks): move helmrepo to vpa
  kubernetes/apps/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/vpa/helmrepository.yaml
  kubernetes/apps/monitoring/goldilocks/vpa/kustomization.yaml
Labels: cluster, apps

fix(goldilocks): move helmrepo to vpa
  kubernetes/apps/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/vpa/helmrepository.yaml
  kubernetes/apps/monitoring/goldilocks/vpa/kustomization.yaml
Labels: cluster, apps

fix: readonly root fs emptyDirs
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

fix: readonly root fs emptyDirs
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

fix(cyberchef): use port 80
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
Labels: cluster, apps

fix(cyberchef): use port 80
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
Labels: cluster, apps

ci(renovate): add vintagestory game version
  .github/renovate/vintagestory.json5
Labels: ci

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
