Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

pin yq
  .github/workflows/pr-mc-mods.yaml
Labels: ci

trigger on pr
  .github/workflows/pr-mc-mods.yaml
Labels: ci

ci: check mc mod compatibility (#1332)
  .github/workflows/pr-mc-mods.yaml
  .mise.toml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: ci, cluster, apps

ci: check mc mod compatibility (#1332)
  .github/workflows/pr-mc-mods.yaml
  .mise.toml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: ci, cluster, apps

chore: add permissions to workflows
  .github/workflows/docs-publish.yaml
  .github/workflows/pr-flux-diff.yaml
  .github/workflows/pr-label.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/scheduled-renovate.yaml
Labels: ci

chore: add permissions to workflows
  .github/workflows/docs-publish.yaml
  .github/workflows/pr-flux-diff.yaml
  .github/workflows/pr-label.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/scheduled-renovate.yaml
Labels: ci

fix(ut2k4): container not compatible with runAs :(
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2k4): container not compatible with runAs :(
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2k4): try without readonlyrootfs
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2k4): try without readonlyrootfs
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

ci: consistent workflow names
  .github/workflows/meta-codeql.yaml
  .github/workflows/pr-mc-mods.yaml
  .github/workflows/pr-vsmod.yaml
Labels: ci

ci: consistent workflow names
  .github/workflows/meta-codeql.yaml
  .github/workflows/pr-mc-mods.yaml
  .github/workflows/pr-vsmod.yaml
Labels: ci

fix(ut2k4): config dir
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2k4): config dir
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore: update repo setup
  .github/Brewfile
  .mise.toml
  .taskfiles/repo/Taskfile.yaml
Labels: ci

chore: update repo setup
  .github/Brewfile
  .mise.toml
  .taskfiles/repo/Taskfile.yaml
Labels: ci

docs: as what?
  README.md
Labels: none

docs: as what?
  README.md
Labels: none

docs: update repo setup instruction
  docs/index.md
Labels: docs

docs: update repo setup instruction
  docs/index.md
Labels: docs

ci(mc-mods): trigger on change to workflow too
  .github/workflows/pr-mc-mods.yaml
Labels: ci

ci(mc-mods): trigger on change to workflow too
  .github/workflows/pr-mc-mods.yaml
Labels: ci

chore: remove hk hooks before install
  .taskfiles/repo/Taskfile.yaml
Labels: none

chore: remove hk hooks before install
  .taskfiles/repo/Taskfile.yaml
Labels: none

override schedule for automerge
  .github/renovate/automerge.json5
Labels: ci

chore: override schedule for automerge (#1338)
  .github/renovate/automerge.json5
Labels: ci

chore: override schedule for automerge (#1338)
  .github/renovate/automerge.json5
Labels: ci

fix(ut2k4): indentation
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2k4): indentation
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

Revert "chore: override schedule for automerge (#1338)"
  .github/renovate/automerge.json5
Labels: ci

Revert "chore: override schedule for automerge (#1338)"
  .github/renovate/automerge.json5
Labels: ci

ci(labeler): remove concurrency limit
  .github/workflows/pr-label.yaml
Labels: ci

ci(labeler): remove concurrency limit
  .github/workflows/pr-label.yaml
Labels: ci

fix(ut2k4): change puid
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

fix(ut2k4): change puid
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore: archive atw-warrior-usgov
  kubernetes/.archive/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/.archive/archiveteam-warrior-usgov/app/kustomization.yaml
  kubernetes/.archive/archiveteam-warrior-usgov/app/networkpolicy.yaml
  kubernetes/.archive/archiveteam-warrior-usgov/ks.yaml
  kubernetes/apps/web/kustomization.yaml
Labels: cluster, apps

chore: archive atw-warrior-usgov
  kubernetes/.archive/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/.archive/archiveteam-warrior-usgov/app/kustomization.yaml
  kubernetes/.archive/archiveteam-warrior-usgov/app/networkpolicy.yaml
  kubernetes/.archive/archiveteam-warrior-usgov/ks.yaml
  kubernetes/apps/web/kustomization.yaml
Labels: cluster, apps

add actual
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/app/kustomization.yaml
  kubernetes/apps/selfhosted/actual/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

feat(selfhosted): actual (#1384)
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/app/kustomization.yaml
  kubernetes/apps/selfhosted/actual/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

feat(selfhosted): actual (#1384)
  kubernetes/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/apps/selfhosted/actual/app/kustomization.yaml
  kubernetes/apps/selfhosted/actual/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
