Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

ut2004 server
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

lower resource req
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

different IP
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps

chore(renovate): exclude flux-local from mise group
  .github/renovate/groups.json5
Labels: ci

chore(renovate): exclude flux-local from mise group
  .github/renovate/groups.json5
Labels: ci

chore(renovate): update groups
  .github/renovate/groups.json5
Labels: ci

chore(renovate): update groups
  .github/renovate/groups.json5
Labels: ci

update vsmod and disable hooks
  .github/workflows/pr-vsmod.yaml
Labels: ci

set workflow permissions
  .github/workflows/pr-vsmod.yaml
Labels: ci

chore(vintagestory): use vsmod for init container (#1191)
  .github/workflows/pr-vsmod.yaml
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: ci, cluster, apps

chore(vintagestory): use vsmod for init container (#1191)
  .github/workflows/pr-vsmod.yaml
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: ci, cluster, apps

chore(vintagestory): use vsmod for init container (#1191)
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vintagestory): use vsmod for init container (#1191)
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(renovate): add vsmod group
  .github/renovate/groups.json5
Labels: ci

chore(renovate): add vsmod group
  .github/renovate/groups.json5
Labels: ci

chore(renovate): add vsmod group
  .github/renovate/groups.json5
Labels: ci

feat: ut2004 (#1281)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

feat: ut2004 (#1281)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

chore(vs): enable debug for initcontainer
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore(vs): enable debug for initcontainer
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

switch to hk
  .github/linters/prettierignore
  .github/workflows/pr-lint.yaml
  .mise.toml
  .pre-commit-config.yaml
  README.md
  hk.pkl
Labels: ci

dont use env script for now
  .mise.toml
Labels: none

use refs
  .github/workflows/pr-lint.yaml
Labels: ci

fetch-depth
  .github/workflows/pr-lint.yaml
Labels: ci

actionlint missing
  .mise.toml
Labels: none

prettier also missing
  .mise.toml
Labels: none

ci: switch to hk (#1319)
  .github/linters/prettierignore
  .github/workflows/pr-lint.yaml
  .mise.toml
  .pre-commit-config.yaml
  README.md
  hk.pkl
Labels: ci

ci: switch to hk (#1319)
  .github/linters/prettierignore
  .github/workflows/pr-lint.yaml
  .mise.toml
  .pre-commit-config.yaml
  README.md
  hk.pkl
Labels: ci

chore: fix linting errors
  .github/workflows/codeql.yaml
  kubernetes/core/flux-system/flux-operator/app/networkpolicies/kustomization.yaml
Labels: ci, cluster, core

chore: fix linting errors
  .github/workflows/codeql.yaml
  kubernetes/core/flux-system/flux-operator/app/networkpolicies/kustomization.yaml
Labels: ci, cluster, core

chore: update prettier config
  .github/linters/prettierrc.yaml
Labels: ci

chore: update prettier config
  .github/linters/prettierrc.yaml
Labels: ci

check mod compatibility
  .github/workflows/pr-mc-mods.yaml
  .mise.toml
Labels: ci

use another action to install mc-image-helper
  .github/workflows/pr-mc-mods.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: ci, cluster, apps

extract archive
  .github/workflows/pr-mc-mods.yaml
Labels: ci

try this action
  .github/workflows/pr-mc-mods.yaml
Labels: ci

fix path
  .github/workflows/pr-mc-mods.yaml
Labels: ci

print extracted yq vals
  .github/workflows/pr-mc-mods.yaml
Labels: ci

just use a script to install it
  .github/workflows/pr-mc-mods.yaml
Labels: ci

fix substitution
  .github/workflows/pr-mc-mods.yaml
Labels: ci
