Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix(stirling-pdf): temp dirs
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): temp dirs
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix: rollback to v1beta2 temporarily
  kubernetes/flux/repos/oci/app-template.yaml
  kubernetes/flux/repos/oci/controlplaneio.yaml
  kubernetes/flux/repos/oci/crunchydata.yaml
Labels: cluster, flux

fix: rollback to v1beta2 temporarily
  kubernetes/flux/repos/oci/app-template.yaml
  kubernetes/flux/repos/oci/controlplaneio.yaml
  kubernetes/flux/repos/oci/crunchydata.yaml
Labels: cluster, flux

fix(nas/pihole): update config for pihole v6
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): update config for pihole v6
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

feat(pihole)!: upgrade to v6
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

feat(externaldns/pihole)!: upgrade to v6 (#1232)
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

feat(externaldns/pihole)!: upgrade to v6 (#1232)
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

fix: missing annotation value
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
Labels: cluster, core, apps

fix: missing annotation value
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
Labels: cluster, core, apps

remove webhook from bootstrap
  kubernetes/.bootstrap/helmfile.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
Labels: cluster, flux

update mods file to new vsmod
  .github/workflows/pr-vsmod.yaml
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: ci, cluster, apps

v prefix
  .github/workflows/pr-vsmod.yaml
Labels: ci

fix location
  .github/workflows/pr-vsmod.yaml
Labels: ci

prettier
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

actually fix path
  .github/workflows/pr-vsmod.yaml
Labels: ci

fix(nas/pihole): domain
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

fix(nas/pihole): domain
  nas/stacks/pihole/docker-compose.yaml
Labels: nas

chore(ci): dclint pre-commit
  .pre-commit-config.yaml
Labels: none

chore(ci): dclint pre-commit
  .pre-commit-config.yaml
Labels: none

fix rate limiting
  .github/scripts/env.sh
  .gitignore
  .mise.toml
  kubernetes/.archive/playit/README.md
Labels: ci, cluster

new linting violation
  README.md
Labels: none

fix(external-dns-pihole): set api version in env
  .gitignore
  .mise.toml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

fix(external-dns-pihole): set api version in env
  .gitignore
  .mise.toml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

fix(external-dns-pihole): use an image that supports pihole v6
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

fix(external-dns-pihole): use an image that supports pihole v6
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

fix(flux): remove cluster-settings
  kubernetes/core/flux-system/flux-operator/ks.yaml
  kubernetes/flux/cluster/apps.yaml
  kubernetes/flux/cluster/core.yaml
Labels: cluster, core, flux

fix(flux): remove cluster-settings
  kubernetes/core/flux-system/flux-operator/ks.yaml
  kubernetes/flux/cluster/apps.yaml
  kubernetes/flux/cluster/core.yaml
Labels: cluster, core, flux

fix(flux): distribution version
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

fix(flux): distribution version
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

use app-template
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
Labels: cluster, apps

prettier
  kubernetes/apps/selfhosted/homepage/app/config.yaml
Labels: cluster, apps

update app-template
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, flux

fix app-template chart location
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, flux

fix svc name
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
Labels: cluster, apps

remove jameswynn repo
  kubernetes/flux/repos/helm/jameswynn.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
Labels: cluster, flux

fix up schema violations
  kubernetes/.archive/buildarr/app/helmrelease.yaml
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/gatus/app/helmrelease.yaml
  kubernetes/.archive/janitorr/app/helmrelease.yaml
  kubernetes/.archive/mealie/app/helmrelease.yaml
  kubernetes/.archive/playit/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/core/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
Labels: cluster, core, apps

feat(homepage)!: use app-template (#1235)
  kubernetes/.archive/buildarr/app/helmrelease.yaml
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/gatus/app/helmrelease.yaml
  kubernetes/.archive/janitorr/app/helmrelease.yaml
  kubernetes/.archive/mealie/app/helmrelease.yaml
  kubernetes/.archive/playit/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/core/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
  kubernetes/flux/repos/helm/jameswynn.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, core, apps, flux

feat(homepage)!: use app-template (#1235)
  kubernetes/.archive/buildarr/app/helmrelease.yaml
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/gatus/app/helmrelease.yaml
  kubernetes/.archive/janitorr/app/helmrelease.yaml
  kubernetes/.archive/mealie/app/helmrelease.yaml
  kubernetes/.archive/playit/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/config.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/core/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
  kubernetes/flux/repos/helm/jameswynn.yaml
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, core, apps, flux

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
