Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix(vs): mount the .env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

fix(vs): env file name
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

fix(vs): env file name
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

fix(vs): set default mods dir
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
Labels: cluster, apps

fix(vs): set default mods dir
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
Labels: cluster, apps

chore(cert-manager): move helmrepo to folder
  .mise.toml
  kubernetes/core/cert-manager/cert-manager/app/helmrepo.yaml
  kubernetes/core/cert-manager/cert-manager/app/kustomization.yaml
Labels: cluster, core

chore(cert-manager): move helmrepo to folder
  .mise.toml
  kubernetes/core/cert-manager/cert-manager/app/helmrepo.yaml
  kubernetes/core/cert-manager/cert-manager/app/kustomization.yaml
Labels: cluster, core

fix(scripts): flatten dir structure
  kubernetes/apps/scripts/ks.yaml
  kubernetes/apps/scripts/lge-dev-renew/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/kustomization.yaml
Labels: cluster, apps

fix(scripts): flatten dir structure
  kubernetes/apps/scripts/ks.yaml
  kubernetes/apps/scripts/lge-dev-renew/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/kustomization.yaml
Labels: cluster, apps

fix(scripts): path
  kubernetes/apps/scripts/kustomization.yaml
Labels: cluster, apps

fix(scripts): path
  kubernetes/apps/scripts/kustomization.yaml
Labels: cluster, apps

fix(flux): missing helmrepo
  kubernetes/flux/repos/helm/kustomization.yaml
Labels: cluster, flux

fix(flux): missing helmrepo
  kubernetes/flux/repos/helm/kustomization.yaml
Labels: cluster, flux

feat(renovate): Vintage Story mod support
  .github/renovate.json5
  .github/renovate/vintagestory.json5
Labels: ci

feat(renovate): Vintage Story mod support
  .github/renovate.json5
  .github/renovate/vintagestory.json5
Labels: ci

fix(renovate): handle indentation
  .github/renovate/vintagestory.json5
Labels: ci

fix(renovate): handle indentation
  .github/renovate/vintagestory.json5
Labels: ci

fix(renovate): enrich vintagestory mod releases
  .github/renovate/vintagestory.json5
Labels: ci

fix(renovate): enrich vintagestory mod releases
  .github/renovate/vintagestory.json5
Labels: ci

fix(lge-dev-renew): dir structure
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/kustomization.yaml
  kubernetes/apps/scripts/lge-dev-renew/ks.yaml
Labels: cluster, apps

fix(lge-dev-renew): dir structure
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/kustomization.yaml
  kubernetes/apps/scripts/lge-dev-renew/ks.yaml
Labels: cluster, apps

feat(games)!: remove ut2004
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

feat(games)!: remove ut2004
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/ut2004/app/externalsecret.yaml
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
  kubernetes/apps/games/ut2004/app/kustomization.yaml
  kubernetes/apps/games/ut2004/ks.yaml
Labels: cluster, apps

fix(lge-dev-renew): use hurl because the API always sends 200 even if it fails
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
Labels: cluster, apps

fix(lge-dev-renew): use hurl because the API always sends 200 even if it fails
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
Labels: cluster, apps

chore: clean up archive
  kubernetes/.archive/arc-operator/app/externalsecret.yaml
  kubernetes/.archive/arc-operator/app/helmrelease.yaml
  kubernetes/.archive/arc-operator/app/kustomization.yaml
  kubernetes/.archive/arc-operator/ks.yaml
  kubernetes/.archive/arc-runners/app/helmrelease.yaml
  kubernetes/.archive/arc-runners/app/kustomization.yaml
  kubernetes/.archive/arc-runners/ks.yaml
  kubernetes/.archive/tubesync/app/helmrelease.yaml
  kubernetes/.archive/tubesync/app/kustomization.yaml
  kubernetes/.archive/tubesync/app/networkpolicy.yaml
  kubernetes/.archive/tubesync/ks.yaml
Labels: cluster

chore: clean up archive
  kubernetes/.archive/arc-operator/app/externalsecret.yaml
  kubernetes/.archive/arc-operator/app/helmrelease.yaml
  kubernetes/.archive/arc-operator/app/kustomization.yaml
  kubernetes/.archive/arc-operator/ks.yaml
  kubernetes/.archive/arc-runners/app/helmrelease.yaml
  kubernetes/.archive/arc-runners/app/kustomization.yaml
  kubernetes/.archive/arc-runners/ks.yaml
  kubernetes/.archive/tubesync/app/helmrelease.yaml
  kubernetes/.archive/tubesync/app/kustomization.yaml
  kubernetes/.archive/tubesync/app/networkpolicy.yaml
  kubernetes/.archive/tubesync/ks.yaml
Labels: cluster

feat(vintagestory): add servermagicnumbers config
  kubernetes/apps/games/vintagestory/app/config/server/servermagicnumbers.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

feat(vintagestory): add servermagicnumbers config
  kubernetes/apps/games/vintagestory/app/config/server/servermagicnumbers.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

fix(cert-manager): oci repo namespace
  kubernetes/core/cert-manager/cert-manager/app/helmrelease.yaml
Labels: cluster, core

fix(cert-manager): oci repo namespace
  kubernetes/core/cert-manager/cert-manager/app/helmrelease.yaml
Labels: cluster, core

chore: tidy up around here
  kubernetes/core/monitoring/grafana/app/kustomization.yaml
  kubernetes/core/security/authelia/app/config/secrets/kustomization.yaml
  kubernetes/core/security/authelia/app/config/secrets/secrets.yaml
  kubernetes/core/security/kustomization.yaml
  kubernetes/core/security/secretgenerator/app/externalsecret.yaml
  kubernetes/core/security/secretgenerator/app/helmrelease.yaml
  kubernetes/core/security/secretgenerator/app/kustomization.yaml
  kubernetes/core/security/secretgenerator/app/rbac.yaml
  kubernetes/core/security/secretgenerator/ks.yaml
Labels: cluster, core

chore: tidy up around here
  kubernetes/core/monitoring/grafana/app/kustomization.yaml
  kubernetes/core/security/authelia/app/config/secrets/kustomization.yaml
  kubernetes/core/security/authelia/app/config/secrets/secrets.yaml
  kubernetes/core/security/kustomization.yaml
  kubernetes/core/security/secretgenerator/app/externalsecret.yaml
  kubernetes/core/security/secretgenerator/app/helmrelease.yaml
  kubernetes/core/security/secretgenerator/app/kustomization.yaml
  kubernetes/core/security/secretgenerator/app/rbac.yaml
  kubernetes/core/security/secretgenerator/ks.yaml
Labels: cluster, core

chore(mise): update flux-local
  .mise.toml
Labels: none

chore(mise): update flux-local
  .mise.toml
Labels: none

feat(renovate): mise manager
  .github/renovate.json5
Labels: ci

feat(renovate): mise manager
  .github/renovate.json5
Labels: ci

chore: delete old mise.toml
  mise.toml
Labels: none

chore: delete old mise.toml
  mise.toml
Labels: none

fix(renovate): alter schedule
  .github/renovate.json5
Labels: ci

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
