Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

fix(renovate): alter schedule
  .github/renovate.json5
Labels: ci

chore: tidy up more
  Taskfile.yaml
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
  kubernetes/core/storage/dcsi-localpath/app/helmrelease.yaml
Labels: cluster, core, apps

chore: tidy up more
  Taskfile.yaml
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
  kubernetes/core/storage/dcsi-localpath/app/helmrelease.yaml
Labels: cluster, core, apps

fix(arc): configure externalsecret
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
Labels: cluster, apps

fix(arc): configure externalsecret
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
Labels: cluster, apps

fix(flux): move to bjw-s-labs late
  kubernetes/flux/repos/oci/bjw-s.yaml
Labels: cluster, flux

fix(flux): move to bjw-s-labs late
  kubernetes/flux/repos/oci/bjw-s.yaml
Labels: cluster, flux

fix(arc): more configuration
  kubernetes/apps/ci/actions-runner-controller/runners/helmrelease.yaml
Labels: cluster, apps

fix(arc): more configuration
  kubernetes/apps/ci/actions-runner-controller/runners/helmrelease.yaml
Labels: cluster, apps

fix(arc): more configuration
  .github/actionlint.yaml
Labels: ci

fix(arc): more configuration
  .github/actionlint.yaml
Labels: ci

fix(flux): alert event sources
  kubernetes/core/flux-system/flux-operator/addons/github.yaml
Labels: cluster, core

fix(flux): alert event sources
  kubernetes/core/flux-system/flux-operator/addons/github.yaml
Labels: cluster, core

fix(vintagestory): update mod name
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

fix(vintagestory): update mod name
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

chore: update chartRefs
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/playit/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
  kubernetes/flux/repos/oci/app-template.yaml
  kubernetes/flux/repos/oci/bjw-s.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, core, apps, flux

chore: update chartRefs (#1172)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/playit/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
  kubernetes/flux/repos/oci/app-template.yaml
  kubernetes/flux/repos/oci/bjw-s.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, core, apps, flux

chore: update chartRefs (#1172)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/web/archiveteam-warrior-usgov/app/helmrelease.yaml
  kubernetes/core/database/dragonfly/operator/helmrelease.yaml
  kubernetes/core/network/cloudflared/app/helmrelease.yaml
  kubernetes/core/network/playit/app/helmrelease.yaml
  kubernetes/core/network/smtp-relay/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/security/glauth/app/helmrelease.yaml
  kubernetes/flux/repos/oci/app-template.yaml
  kubernetes/flux/repos/oci/bjw-s.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, core, apps, flux

chore(nas): flatten archive folder
  nas/.archive/arr/docker-compose.yaml
  nas/.archive/stacks/.gitkeep
Labels: nas

chore(externalsecrets): v1 crd
  kubernetes/.archive/buildarr/app/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/csi-driver-smb/storageclasses/hetzner/externalsecret.yaml
  kubernetes/.archive/gatus/app/externalsecret.yaml
  kubernetes/.archive/janitorr/app/externalsecret.yaml
  kubernetes/.archive/mealie/app/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/vintagestory/app/externalsecret.yaml
  kubernetes/apps/home/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/core/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/core/flux-system/flux-operator/addons/github.yaml
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/network/cloudflared/app/externalsecret.yaml
  kubernetes/core/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/core/network/external-dns/pihole/externalsecret.yaml
  kubernetes/core/network/playit/app/externalsecret.yaml
  kubernetes/core/network/smtp-relay/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/external-secrets/secretstore/doppler.yaml
  kubernetes/core/security/glauth/app/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
Labels: cluster, core, apps, flux

chore: update schema refs
  kubernetes/.archive/buildarr/app/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/csi-driver-smb/storageclasses/hetzner/externalsecret.yaml
  kubernetes/.archive/gatus/app/externalsecret.yaml
  kubernetes/.archive/janitorr/app/externalsecret.yaml
  kubernetes/.archive/mealie/app/externalsecret.yaml
  kubernetes/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/vintagestory/app/externalsecret.yaml
  kubernetes/apps/home/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/core/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/core/flux-system/flux-operator/addons/github.yaml
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/network/cloudflared/app/externalsecret.yaml
  kubernetes/core/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/core/network/external-dns/pihole/externalsecret.yaml
  kubernetes/core/network/playit/app/externalsecret.yaml
  kubernetes/core/network/smtp-relay/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/glauth/app/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
Labels: cluster, core, apps, flux

chore: update schema refs
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
Labels: cluster, apps

chore(externalsecrets): v1 crd (#1186)
  kubernetes/.archive/buildarr/app/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/csi-driver-smb/storageclasses/hetzner/externalsecret.yaml
  kubernetes/.archive/gatus/app/externalsecret.yaml
  kubernetes/.archive/janitorr/app/externalsecret.yaml
  kubernetes/.archive/mealie/app/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/vintagestory/app/externalsecret.yaml
  kubernetes/apps/home/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/core/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/core/flux-system/flux-operator/addons/github.yaml
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/network/cloudflared/app/externalsecret.yaml
  kubernetes/core/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/core/network/external-dns/pihole/externalsecret.yaml
  kubernetes/core/network/playit/app/externalsecret.yaml
  kubernetes/core/network/smtp-relay/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/external-secrets/secretstore/doppler.yaml
  kubernetes/core/security/glauth/app/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
Labels: cluster, core, apps, flux

chore(externalsecrets): v1 crd (#1186)
  kubernetes/.archive/buildarr/app/externalsecret.yaml
  kubernetes/.archive/crunchy-postgres/cluster-secretstore/clustersecretstore.yaml
  kubernetes/.archive/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/.archive/csi-driver-smb/storageclasses/hetzner/externalsecret.yaml
  kubernetes/.archive/gatus/app/externalsecret.yaml
  kubernetes/.archive/janitorr/app/externalsecret.yaml
  kubernetes/.archive/mealie/app/externalsecret.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/vintagestory/app/externalsecret.yaml
  kubernetes/apps/home/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/scripts/lge-dev-renew/app/externalsecret.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
  kubernetes/core/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/core/flux-system/flux-operator/addons/github.yaml
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/externalsecret.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/core/network/cloudflared/app/externalsecret.yaml
  kubernetes/core/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/core/network/external-dns/pihole/externalsecret.yaml
  kubernetes/core/network/playit/app/externalsecret.yaml
  kubernetes/core/network/smtp-relay/app/externalsecret.yaml
  kubernetes/core/security/authelia/app/externalsecret.yaml
  kubernetes/core/security/external-secrets/secretstore/doppler.yaml
  kubernetes/core/security/glauth/app/externalsecret.yaml
  kubernetes/flux/components/volsync/b2/externalsecret.yaml
Labels: cluster, core, apps, flux

fix(externalsecrets): healthcheck on ks
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): healthcheck on ks (#1188)
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): healthcheck on ks (#1188)
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): dont wait
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): dont wait
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): dont wait
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): do wait
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(externalsecrets): do wait
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(es): dep
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

fix(es): dep
  kubernetes/core/security/external-secrets/ks.yaml
Labels: cluster, core

switch vs to use vsmod for initcontainer
  kubernetes/apps/games/vintagestory/app/config/init/init.sh
  kubernetes/apps/games/vintagestory/app/config/init/mods.env
  kubernetes/apps/games/vintagestory/app/config/init/mods.py
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/kustomization.yaml
Labels: cluster, apps

formatting
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

remove /data/Mods from serverconfig
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
Labels: cluster, apps

use vsmod hooks
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
  kubernetes/apps/games/vintagestory/app/config/server/serverconfig.json
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

Revert "fix(deps): update ocirepository ( source.toolkit.fluxcd.io/v1beta2 → source.toolkit.fluxcd.io/v1 ) (#1213)"
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, apps, flux

Revert "fix(deps): update ocirepository ( source.toolkit.fluxcd.io/v1beta2 → source.toolkit.fluxcd.io/v1 ) (#1213)"
  kubernetes/apps/ci/actions-runner-controller/app/repository.yaml
  kubernetes/apps/ci/actions-runner-controller/runners/repository.yaml
  kubernetes/flux/repos/oci/app-template.yaml
Labels: cluster, apps, flux
