Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, cluster/mini, cluster/nas

.github/labeler.yaml:

---
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
cluster/mini:
  - changed-files:
      - any-glob-to-any-file: kubernetes/mini/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/pi/**/*

feat: .envrc for pi cluster
  kubernetes/pi/.envrc
Labels: cluster/nas

feat: .envrc for pi cluster
  kubernetes/pi/.envrc
Labels: cluster/nas

chore: wait and reload things
  kubernetes/mini/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/prowlarr/ks.yaml
  kubernetes/mini/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/radarr/ks.yaml
  kubernetes/mini/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/sabnzbd/ks.yaml
  kubernetes/mini/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/sonarr/ks.yaml
  kubernetes/mini/apps/media/ersatztv/app/helmrelease.yaml
  kubernetes/mini/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/mini/apps/media/jellyfin/ks.yaml
  kubernetes/mini/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/mini/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/mini/apps/monitoring/goldilocks/ks.yaml
  kubernetes/mini/apps/monitoring/speedtest-tracker/app/helmrelease.yaml
  kubernetes/mini/core/cert-manager/cert-manager/ks.yaml
  kubernetes/mini/core/external-secrets/external-secrets-operator/ks.yaml
  kubernetes/mini/core/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/mini/core/system/node-feature-discovery/ks.yaml
Labels: cluster/mini

chore: wait and reload things
  kubernetes/mini/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/prowlarr/ks.yaml
  kubernetes/mini/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/radarr/ks.yaml
  kubernetes/mini/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/sabnzbd/ks.yaml
  kubernetes/mini/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/mini/apps/downloads/sonarr/ks.yaml
  kubernetes/mini/apps/media/ersatztv/app/helmrelease.yaml
  kubernetes/mini/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/mini/apps/media/jellyfin/ks.yaml
  kubernetes/mini/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/mini/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/mini/apps/monitoring/goldilocks/ks.yaml
  kubernetes/mini/apps/monitoring/speedtest-tracker/app/helmrelease.yaml
  kubernetes/mini/core/cert-manager/cert-manager/ks.yaml
  kubernetes/mini/core/external-secrets/external-secrets-operator/ks.yaml
  kubernetes/mini/core/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/mini/core/system/node-feature-discovery/ks.yaml
Labels: cluster/mini

feat(core): deploy gatus
  kubernetes/mini/core/monitoring/gatus/app/helmrelease.yaml
  kubernetes/mini/core/monitoring/gatus/app/kustomization.yaml
  kubernetes/mini/core/monitoring/gatus/app/serviceaccount.yaml
Labels: cluster/mini

feat(core): deploy gatus
  kubernetes/mini/core/monitoring/gatus/app/helmrelease.yaml
  kubernetes/mini/core/monitoring/gatus/app/kustomization.yaml
  kubernetes/mini/core/monitoring/gatus/app/serviceaccount.yaml
Labels: cluster/mini

fix: use yq-go
  devshell.toml
Labels: none

fix: use yq-go
  devshell.toml
Labels: none

feat: badge in readme
  docs/README.md
Labels: docs

feat: badge in readme
  docs/README.md
Labels: docs

fix(apps): SOPS not used here
  kubernetes/mini/flux/apps.yaml
Labels: cluster/mini

fix(apps): SOPS not used here
  kubernetes/mini/flux/apps.yaml
Labels: cluster/mini

feat: scripts
  scripts/validate.sh
Labels: none

feat: scripts
  scripts/validate.sh
Labels: none

feat(bootstrap): add a bit of flair
  kubernetes/mini/bootstrap.sh
Labels: cluster/mini

feat: better integrations deployment
  kubernetes/mini/talos/deploy-integrations.sh
  kubernetes/mini/talos/integrations.yaml
  kubernetes/mini/talos/integrations/cni/kustomization.yaml
  kubernetes/mini/talos/integrations/kubelet-csr-approver/kustomization.yaml
Labels: cluster/mini

feat: better integrations deployment
  kubernetes/mini/talos/deploy-integrations.sh
  kubernetes/mini/talos/integrations.yaml
  kubernetes/mini/talos/integrations/cni/kustomization.yaml
  kubernetes/mini/talos/integrations/kubelet-csr-approver/kustomization.yaml
Labels: cluster/mini

feat(bootstrap): add a bit of flair
  kubernetes/mini/bootstrap.sh
Labels: cluster/mini

fix: reloader annotation
  kubernetes/mini/apps/monitoring/ntfy/app/helmrelease.yaml
Labels: cluster/mini

fix: reloader annotation
  kubernetes/mini/apps/monitoring/ntfy/app/helmrelease.yaml
Labels: cluster/mini

fix(metallb): wait
  kubernetes/mini/core/metallb-system/metallb/ks.yaml
Labels: cluster/mini

fix(metallb): wait
  kubernetes/mini/core/metallb-system/metallb/ks.yaml
Labels: cluster/mini

fix(rook): enable disk on worker01
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
Labels: cluster/mini

fix(rook): enable disk on worker01
  kubernetes/mini/core/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
Labels: cluster/mini

fix(monitoring): permit privileged pods in monitoring
  kubernetes/mini/core/monitoring/namespace.yaml
Labels: cluster/mini

fix(monitoring): permit privileged pods in monitoring
  kubernetes/mini/core/monitoring/namespace.yaml
Labels: cluster/mini

fix: missing sops-age secret
  kubernetes/mini/age-key.sops.yaml
  kubernetes/mini/bootstrap.sh
Labels: cluster/mini

fix: missing sops-age secret
  kubernetes/mini/age-key.sops.yaml
  kubernetes/mini/bootstrap.sh
Labels: cluster/mini

fix: disable admission webhook for now
  kubernetes/mini/core/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/mini/core/network/ingress-nginx/ks.yaml
Labels: cluster/mini

fix: disable admission webhook for now
  kubernetes/mini/core/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/mini/core/network/ingress-nginx/ks.yaml
Labels: cluster/mini

fix: specifying vip san not required
  kubernetes/mini/talos/talconfig.yaml
Labels: cluster/mini

fix: specifying vip san not required
  kubernetes/mini/talos/talconfig.yaml
Labels: cluster/mini

docs(README): add Talos version badge
  docs/README.md
Labels: docs

fix: actually deploy gatus
  kubernetes/mini/core/monitoring/kustomization.yaml
Labels: cluster/mini

fix: actually deploy gatus
  kubernetes/mini/core/monitoring/kustomization.yaml
Labels: cluster/mini

docs(README): add Talos version badge
  docs/README.md
Labels: docs

feat: no uinput on talos :(
  kubernetes/mini/apps/games/kustomization.yaml
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/desktop/kustomization.yaml
  kubernetes/mini/apps/games/pod-arcade/ks.yaml
  kubernetes/mini/apps/games/pod-arcade/server/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/server/kustomization.yaml
Labels: cluster/mini

fix(pod-arcade): use fs storageclass
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/ks.yaml
Labels: cluster/mini

feat: no uinput on talos :(
  kubernetes/mini/apps/games/kustomization.yaml
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/desktop/kustomization.yaml
  kubernetes/mini/apps/games/pod-arcade/ks.yaml
  kubernetes/mini/apps/games/pod-arcade/server/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/server/kustomization.yaml
Labels: cluster/mini

fix(pod-arcade): use fs storageclass
  kubernetes/mini/apps/games/pod-arcade/desktop/helmrelease.yaml
  kubernetes/mini/apps/games/pod-arcade/ks.yaml
Labels: cluster/mini
