Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

remove verbose
  kubernetes/apps/downloads/externalsecret.yaml
Labels: cluster, apps

sloppy paste
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
Labels: cluster, apps

feat: refresh scripts for *arr stack (#1262)
  kubernetes/apps/downloads/externalsecret.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: cluster, apps

feat: refresh scripts for *arr stack (#1262)
  kubernetes/apps/downloads/externalsecret.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
Labels: cluster, apps

fix: http
  kubernetes/apps/downloads/externalsecret.yaml
Labels: cluster, apps

fix: http
  kubernetes/apps/downloads/externalsecret.yaml
Labels: cluster, apps

ci: actionlint config name
  .github/workflows/pr-lint.yaml
Labels: ci

ci: actionlint config name
  .github/workflows/pr-lint.yaml
Labels: ci

chore(stirling-pdf): use fat image
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

chore(stirling-pdf): use fat image
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): it really is fat
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix(stirling-pdf): it really is fat
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

chore: change a couple of things
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

chore: change a couple of things
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/externalsecret.yaml
Labels: cluster, apps

chore(cf-dyndns): pin digest
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

chore(cf-dyndns): pin digest
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

add envoy-gateway
  kubernetes/core/network/envoy-gateway/certificates/certificate.yaml
  kubernetes/core/network/envoy-gateway/certificates/kustomization.yaml
  kubernetes/core/network/envoy-gateway/gateways/external/gateway.yaml
  kubernetes/core/network/envoy-gateway/gateways/external/kustomization.yaml
  kubernetes/core/network/envoy-gateway/gateways/external/redirect.yaml
  kubernetes/core/network/envoy-gateway/gateways/external/securitypolicy.yaml
  kubernetes/core/network/envoy-gateway/gateways/internal/gateway.yaml
  kubernetes/core/network/envoy-gateway/gateways/internal/kustomization.yaml
  kubernetes/core/network/envoy-gateway/gateways/internal/redirect.yaml
  kubernetes/core/network/envoy-gateway/gateways/internal/securitypolicy.yaml
  kubernetes/core/network/envoy-gateway/gateways/kustomization.yaml
  kubernetes/core/network/envoy-gateway/ks.yaml
  kubernetes/core/network/envoy-gateway/operator/gatewayclass.yaml
  kubernetes/core/network/envoy-gateway/operator/helmrelease.yaml
  kubernetes/core/network/envoy-gateway/operator/kustomization.yaml
  kubernetes/core/network/envoy-gateway/operator/ocirepository.yaml
Labels: cluster, core

retire ingress-nginx
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/common/certificate.yaml
  kubernetes/core/network/ingress-nginx/common/helmrepository.yaml
  kubernetes/core/network/ingress-nginx/common/kustomization.yaml
  kubernetes/core/network/ingress-nginx/common/networkpolicy.yaml
  kubernetes/core/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/external/kustomization.yaml
  kubernetes/core/network/ingress-nginx/external/networkpolicy.yaml
  kubernetes/core/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/internal/kustomization.yaml
  kubernetes/core/network/ingress-nginx/internal/networkpolicy.yaml
  kubernetes/core/network/ingress-nginx/ks.yaml
  kubernetes/core/network/kustomization.yaml
Labels: cluster, core

switch to route
  kubernetes/.archive/theme-park/app/helmrelease.yaml
  kubernetes/.archive/theme-park/app/kustomization.yaml
  kubernetes/.archive/theme-park/ks.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
Labels: cluster, apps

fix gateways and external-dns
  kubernetes/core/network/envoy-gateway/gateways/external/gateway.yaml
  kubernetes/core/network/envoy-gateway/gateways/internal/gateway.yaml
  kubernetes/core/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

prettier
  kubernetes/core/network/envoy-gateway/ks.yaml
Labels: cluster, core

Revert "fix(deps): update minecraft ( 1.21.5 → 1.21.6 ) (#1272)"
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

Revert "fix(deps): update minecraft ( 1.21.5 → 1.21.6 )" (#1273)
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

Revert "fix(deps): update minecraft ( 1.21.5 → 1.21.6 )" (#1273)
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

feat(mc): distanthorizons mod
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

feat(mc): distanthorizons mod
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: cluster, apps

feat(vs): add chiseltoolslite
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

feat(vs): add chiseltoolslite
  kubernetes/apps/games/vintagestory/app/config/init/mods.yaml
Labels: cluster, apps

chore(nas/jellyfin): use ghcr image
  nas/stacks/jellyfin/docker-compose.yaml
Labels: nas

chore(nas/jellyfin): use ghcr image
  nas/stacks/jellyfin/docker-compose.yaml
Labels: nas

chore(renovate): update config
  .github/renovate.json5
  .github/renovate/automerge.json5
  .github/renovate/branchPrefixes.json5
  .github/renovate/groups.json5
Labels: ci

chore(renovate): update config
  .github/renovate.json5
  .github/renovate/automerge.json5
  .github/renovate/branchPrefixes.json5
  .github/renovate/groups.json5
Labels: ci

chore(renovate): mise grouping
  .github/renovate/groups.json5
Labels: ci

chore(renovate): mise grouping
  .github/renovate/groups.json5
Labels: ci

chore(vscode): update settings
  .vscode/settings.json
Labels: none

chore(vscode): update settings
  .vscode/settings.json
Labels: none

ci: yoink codeql action
  .github/workflows/codeql.yaml
Labels: ci

ci: yoink codeql action
  .github/workflows/codeql.yaml
Labels: ci

docs: update cloud deps list
  .github/workflows/codeql.yaml
  docs/index.md
Labels: ci, docs

docs: update cloud deps list
  .github/workflows/codeql.yaml
  docs/index.md
Labels: ci, docs
