Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

chore(mise): add more tools
  .mise.toml
Labels: none

chore(mise): add node
  .mise.toml
Labels: none

chore(mise): add node
  .mise.toml
Labels: none

add scheduling gates
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
Labels: cluster, core, apps

remove cosign
  .mise.toml
Labels: none

feat!: scheduling gates (#1793)
  .mise.toml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/helmrelease.yaml
Labels: cluster, core, apps

feat!: scheduling gates (#1793)
  .mise.toml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/core/security/authelia/app/helmrelease.yaml
  kubernetes/core/system/ksgate/app/helmrelease.yaml
Labels: cluster, core, apps

ci: run older failing workflows
  .github/workflows/scheduled-rerun-failed.yaml
Labels: ci

ci: run older failing workflows
  .github/workflows/scheduled-rerun-failed.yaml
Labels: ci

chore: remove unused labels
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/core/database/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/core/kube-system/cilium/app/values.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core, apps

chore: remove unused labels
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/core/database/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/core/kube-system/cilium/app/values.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core, apps

chore(homepage): pin digest
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/app/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/instance/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/instance/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/instance/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/ks.yaml
  kubernetes/core/system/ksgate/app/prometheusrule.yaml
Labels: cluster, core, apps

chore(homepage): pin digest
  kubernetes/apps/selfhosted/homepage/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/app/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/instance/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/instance/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/instance/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/ks.yaml
  kubernetes/core/system/ksgate/app/prometheusrule.yaml
Labels: cluster, core, apps

chore: clean up the mess
  kubernetes/core/monitoring/grafana-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/app/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/instance/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/instance/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/instance/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/ks.yaml
Labels: cluster, core

chore: clean up the mess
  kubernetes/core/monitoring/grafana-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/app/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/instance/helmrelease.yaml
  kubernetes/core/monitoring/grafana-operator/instance/kustomization.yaml
  kubernetes/core/monitoring/grafana-operator/instance/ocirepository.yaml
  kubernetes/core/monitoring/grafana-operator/ks.yaml
Labels: cluster, core

chore(jellyfin): disable probes temporarily
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

chore(jellyfin): disable probes temporarily
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

chore(nas/jellyfin): disable probes temporarily
  nas/stacks/jellyfin/docker-compose.yaml
Labels: nas

chore(nas/jellyfin): disable probes temporarily
  nas/stacks/jellyfin/docker-compose.yaml
Labels: nas

Revert "chore(jellyfin): disable probes temporarily"
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

Revert "chore(jellyfin): disable probes temporarily"
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

Revert "chore(nas/jellyfin): disable probes temporarily"
  nas/stacks/jellyfin/docker-compose.yaml
Labels: nas

Revert "chore(nas/jellyfin): disable probes temporarily"
  nas/stacks/jellyfin/docker-compose.yaml
Labels: nas

feat(nas)!: archive jellyfin
  nas/.archive/jellyfin/docker-compose.yaml
Labels: nas

feat(nas)!: archive jellyfin
  nas/.archive/jellyfin/docker-compose.yaml
Labels: nas

fix(flux): cancel health checks on new kustomization revisions
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

fix(flux): cancel health checks on new kustomization revisions
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

chore(flux): update fluxinstance
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

chore(flux): update fluxinstance
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

chore(mise): add k9s
  .mise.toml
Labels: none

chore(mise): add k9s
  .mise.toml
Labels: none

fix: values
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

fix: values
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

feat(flux): enable source-watcher
  .vscode/mcp.json
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
  validate.sh
Labels: cluster, core

feat(flux): enable source-watcher
  .vscode/mcp.json
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
  validate.sh
Labels: cluster, core

feat: try some mcps
  .mise.toml
  .vscode/mcp.json
Labels: none

feat: try some mcps
  .mise.toml
  .vscode/mcp.json
Labels: none

feat!: archive runo
  kubernetes/.archive/runo/app/helmrelease.yaml
  kubernetes/.archive/runo/app/kustomization.yaml
  kubernetes/.archive/runo/app/ocirepository.yaml
  kubernetes/.archive/runo/ks.yaml
  kubernetes/core/system/kustomization.yaml
Labels: cluster, core

feat!: archive runo
  kubernetes/.archive/runo/app/helmrelease.yaml
  kubernetes/.archive/runo/app/kustomization.yaml
  kubernetes/.archive/runo/app/ocirepository.yaml
  kubernetes/.archive/runo/ks.yaml
  kubernetes/core/system/kustomization.yaml
Labels: cluster, core

fix(ut2k4): scale up to 1
  kubernetes/apps/games/ut2004/app/helmrelease.yaml
Labels: cluster, apps
