Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

fix: gateway namespaces
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/httproute.yaml
  kubernetes/core/kube-system/cilium/app/httproute.yaml
Labels: cluster, core

fix: gateway namespaces
  kubernetes/core/flux-system/flux-operator/addons/webhooks/github/httproute.yaml
  kubernetes/core/kube-system/cilium/app/httproute.yaml
Labels: cluster, core

chore: add GitHub image pull secret
  kubernetes/apps/dev/externalsecret.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: cluster, apps

chore: add GitHub image pull secret
  kubernetes/apps/dev/externalsecret.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: cluster, apps

chore: update renovate groups
  .github/renovate/groups.json5
Labels: ci

chore: update renovate groups
  .github/renovate/groups.json5
Labels: ci

chore: more probes
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore: more probes
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore: gitignore for dev
  kubernetes/apps/dev/.gitignore
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

chore: gitignore for dev
  kubernetes/apps/dev/.gitignore
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(grafana): gateway ns
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): gateway ns
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(jellyfin): /tmp emptyDir
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(jellyfin): /tmp emptyDir
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: cluster, apps

fix(kps): route ns
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core

fix(kps): route ns
  kubernetes/core/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: cluster, core

fix(goldilocks): httproute ns
  kubernetes/apps/monitoring/goldilocks/app/httproute.yaml
Labels: cluster, apps

fix(goldilocks): httproute ns
  kubernetes/apps/monitoring/goldilocks/app/httproute.yaml
Labels: cluster, apps

fix(cf-dyndns): restartPolicy
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

fix(cf-dyndns): restartPolicy
  kubernetes/apps/jobs/cf-dyndns/app/helmrelease.yaml
Labels: cluster, apps

chore(silence-operator): v1alpha2
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/silence-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/core/monitoring/silence-operator/silences/nas_clock_sync.yaml
Labels: cluster, core

chore(silence-operator): v1alpha2
  kubernetes/core/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/core/monitoring/silence-operator/app/ocirepository.yaml
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/core/monitoring/silence-operator/silences/nas_clock_sync.yaml
Labels: cluster, core

chore(flux): disablechartdigesttracking
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

chore(flux): disablechartdigesttracking
  kubernetes/core/flux-system/flux-operator/instance/values.yaml
Labels: cluster, core

fix(external-dns-pihole): only use httproutes
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

fix(external-dns-pihole): only use httproutes
  kubernetes/core/network/external-dns/pihole/helmrelease.yaml
Labels: cluster, core

chore: move cf-dyndns to network ns
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/core/network/cf-dyndns/app/externalsecret.yaml
  kubernetes/core/network/cf-dyndns/app/helmrelease.yaml
  kubernetes/core/network/cf-dyndns/app/kustomization.yaml
  kubernetes/core/network/cf-dyndns/ks.yaml
  kubernetes/core/network/kustomization.yaml
Labels: cluster, core, apps

chore: move cf-dyndns to network ns
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/core/network/cf-dyndns/app/externalsecret.yaml
  kubernetes/core/network/cf-dyndns/app/helmrelease.yaml
  kubernetes/core/network/cf-dyndns/app/kustomization.yaml
  kubernetes/core/network/cf-dyndns/ks.yaml
  kubernetes/core/network/kustomization.yaml
Labels: cluster, core, apps

deploy karakeep
  kubernetes/apps/selfhosted/karakeep/app/externalsecret.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/app/kustomization.yaml
  kubernetes/apps/selfhosted/karakeep/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

feat: karakeep (#1413)
  kubernetes/apps/selfhosted/karakeep/app/externalsecret.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/app/kustomization.yaml
  kubernetes/apps/selfhosted/karakeep/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

feat: karakeep (#1413)
  kubernetes/apps/selfhosted/karakeep/app/externalsecret.yaml
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
  kubernetes/apps/selfhosted/karakeep/app/kustomization.yaml
  kubernetes/apps/selfhosted/karakeep/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

fix(cf-dyndns): core
  kubernetes/core/network/cf-dyndns/ks.yaml
Labels: cluster, core

fix(cf-dyndns): core
  kubernetes/core/network/cf-dyndns/ks.yaml
Labels: cluster, core

fix(cf-dyndns): core
  kubernetes/core/network/cf-dyndns/ks.yaml
Labels: cluster, core

fix(silence-operator): remove deprecated field
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
Labels: cluster, core

fix(silence-operator): remove deprecated field
  kubernetes/core/monitoring/silence-operator/silences/keda_hpa_maxed_out.yaml
Labels: cluster, core

fix(karakeep): secret names
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

fix(karakeep): secret names
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

fix(karakeep): allow registration
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

fix(karakeep): allow registration
  kubernetes/apps/selfhosted/karakeep/app/helmrelease.yaml
Labels: cluster, apps

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
