Repository stevewm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, cluster, core, apps, flux, nas, docs

.github/labeler.yaml:

---
# CI
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**

# Area
core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/core/**
apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**
flux:
  - changed-files:
      - any-glob-to-any-file: kubernetes/flux/**

# NAS
nas:
  - changed-files:
      - any-glob-to-any-file: nas/**

# General
docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

fix(flux-mutating-webhook): update values
  kubernetes/core/flux-system/kustomize-mutating-webhook/app/values.yaml
Labels: cluster, core

fix(flux-mutating-webhook): fix values
  kubernetes/core/flux-system/kustomize-mutating-webhook/app/values.yaml
Labels: cluster, core

fix(flux-mutating-webhook): fix values
  kubernetes/core/flux-system/kustomize-mutating-webhook/app/values.yaml
Labels: cluster, core

fix(theme-park): align name
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

fix(theme-park): align name
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: cluster, apps

fix(theme-park): controller name
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

fix(theme-park): controller name
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: cluster, apps

tidy up repos and add arc
  kubernetes/flux/repos/helm/kustomization.yaml
  kubernetes/flux/repos/oci/actions-runner-controller.yaml
  kubernetes/flux/repos/oci/bjw-s.yaml
  kubernetes/flux/repos/oci/controlplaneio.yaml
  kubernetes/flux/repos/oci/crunchydata.yaml
  kubernetes/flux/repos/oci/kustomization.yaml
Labels: cluster, flux

improve healthcheck for map
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): improve healthchecks (#1022)
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(vs): improve healthchecks (#1022)
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
Labels: cluster, apps

fix(jellyseerr): ghcr
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: cluster, apps

fix(jellyseerr): ghcr
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: cluster, apps

chore: tidy up
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/ks.yaml
Labels: cluster, core, apps

chore: tidy up
  kubernetes/.archive/ersatztv/app/helmrelease.yaml
  kubernetes/.archive/rook-ceph-system/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/games/vintagestory/app/helmrelease.yaml
  kubernetes/apps/selfhosted/stirling-pdf/app/helmrelease.yaml
  kubernetes/core/network/ingress-nginx/ks.yaml
Labels: cluster, core, apps

fix(lge): use sh
  kubernetes/apps/scripts/scheduled/lge-dev-renew/externalsecret.yaml
Labels: cluster, apps

fix(lge): use sh
  kubernetes/apps/scripts/scheduled/lge-dev-renew/externalsecret.yaml
Labels: cluster, apps

ci(gha): more gifs
  .github/workflows/pr-lint.yaml
Labels: ci

ci(gha): more gifs
  .github/workflows/pr-lint.yaml
Labels: ci

fix(prom): nas node-exporter name
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/nas-node-exporter.yaml
Labels: cluster, core

fix(prom): nas node-exporter name
  kubernetes/core/monitoring/kube-prometheus-stack/app/scrapeconfigs/nas-node-exporter.yaml
Labels: cluster, core

fix(grafana): tidy up dashboards
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): tidy up dashboards
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

add tapo-exporter
  kubernetes/core/monitoring/go-tapo-exporter/app/config/tapo.json
  kubernetes/core/monitoring/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/core/monitoring/go-tapo-exporter/app/kustomization.yaml
  kubernetes/core/monitoring/go-tapo-exporter/ks.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kustomization.yaml
Labels: cluster, core

fix helmrelease name
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

remove unused annotations
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

mount cm in container
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

feat(monitoring): go-tapo-exporter (#1026)
  kubernetes/core/monitoring/go-tapo-exporter/app/config/tapo.json
  kubernetes/core/monitoring/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/core/monitoring/go-tapo-exporter/app/kustomization.yaml
  kubernetes/core/monitoring/go-tapo-exporter/ks.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kustomization.yaml
Labels: cluster, core

feat(monitoring): go-tapo-exporter (#1026)
  kubernetes/core/monitoring/go-tapo-exporter/app/config/tapo.json
  kubernetes/core/monitoring/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/core/monitoring/go-tapo-exporter/app/kustomization.yaml
  kubernetes/core/monitoring/go-tapo-exporter/ks.yaml
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
  kubernetes/core/monitoring/kustomization.yaml
Labels: cluster, core

fix(tapo-exporter): secret not cm
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

fix(tapo-exporter): secret not cm
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

fix(tapo-exporter): user
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

fix(tapo-exporter): user
  kubernetes/core/monitoring/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): home folder
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(grafana): home folder
  kubernetes/core/monitoring/grafana/app/helmrelease.yaml
Labels: cluster, core

fix(tapo-exporter): move to 'home' ns
  kubernetes/apps/home/go-tapo-exporter/app/config/tapo.json
  kubernetes/apps/home/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/kustomization.yaml
  kubernetes/apps/home/go-tapo-exporter/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/core/monitoring/kustomization.yaml
Labels: cluster, core, apps

fix(tapo-exporter): move to 'home' ns
  kubernetes/apps/home/go-tapo-exporter/app/config/tapo.json
  kubernetes/apps/home/go-tapo-exporter/app/externalsecret.yaml
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
  kubernetes/apps/home/go-tapo-exporter/app/kustomization.yaml
  kubernetes/apps/home/go-tapo-exporter/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/core/monitoring/kustomization.yaml
Labels: cluster, core, apps

fix(tapo-exporter): typo
  kubernetes/apps/home/go-tapo-exporter/ks.yaml
Labels: cluster, apps

fix(tapo-exporter): typo
  kubernetes/apps/home/go-tapo-exporter/ks.yaml
Labels: cluster, apps

fix(tapo-exporter): it's TAPO_EMAIL not TAPO_USERNAME
  kubernetes/apps/home/go-tapo-exporter/app/helmrelease.yaml
Labels: cluster, apps
